{# Extiende la plantilla base #}
{% extends 'base.html.twig' %}

{% block title %}Principal App{% endblock %}
{# Creamos el header con el logo y el nombre de la pag #}
{% block header %}
<div class="header-app">
  <div class="container contenedor-logo">
    <img src="{{asset('assets/img/logo.png')}}" alt="logo">
    <h3 class="title-App"> Un color especial </h3>
  </div>
</div>
{% endblock %}

{% block body %}

{# Creamos una sección con los eventos y guías #}
<section class="container">
  <div class="titulo">
    <h3>Proximos eventos</h3>
  </div>
  <div class="row scroll-box">

  {% for category in Ecats %}
        {% include '_includes/blocks/eventcategorycardapp.html.twig' with {'category' : category} %}
  {% endfor %}
  
  </div>
</section>

{# En la sección de negocios incluimos las categorias correspondientes #}
<section class="container my-3">
  <div class="titulo">
    <h3>Negocios</h3>
  </div>
  <div class="row scroll-box">

  {% for category in Bcats %}
        {% include '_includes/blocks/businesscategorycardapp.html.twig' with {'category' : category} %}
  {% endfor %}

  </div>
</div>
</div>
</div>
</section>

<!--Ultimas Publicaciones-->
<section class="container margen-App my-3">
  <div>
    <h3>Ultimas publicaciones</h3>
  </div>
  <div class="row scroll-box">
    
    {% for post in lastPosts %}
        {% include '_includes/blocks/postcard.html.twig' with {'post' : post} %}
    {% endfor %}

    </div>
</section>



{% endblock %}
{% block footer %}
<!--Navbar -->
<div class="navbar navbar-light orange darken-2 fixed-bottom navbar-app">
  <a class="navbar-brand" href="app">
    <img class="logo-app"src="assets/img/logo.png"  alt="logo">
  </a>
  <div class=" bg-light btn-group btn-group-sm menu-App " aria-label="Menu-App" role="group">
    <a href=""><button type="button" class="save_button  btn-outline-brown lighten-3 waves-effectt" href="app">Guias</button></a>
    <a href="{{path('business-categories')}}"><button type="button" class="save_button  btn-outline-brown lighten-3 waves-effectt">Negocios</button></a>
    <a href="{{path('event-categories')}}"><button type="button" class="save_button  btn-outline-brown lighten-3 waves-effectt">Eventos</button></a>
    <a href="{{path('login')}}"><button type="button" class="save_button  btn-outline-brown lighten-3 waves-effectt">Cuenta</button></a>
  </div>
</div>
<!--/.Navbar -->
{% endblock %}



