{% extends 'base.html.twig' %}

{% block title %}{{event.name}}{% endblock %}

{% block body %}

{# Incluimos el bloque de cabecera 1 como contenido el nombre del evento #}
{% include '_includes/blocks/heading1.html.twig' with {'content' : event.name} %}

{# Incluimos el bloque 1 con la descripción del evento y su imagen #}
{% include '_includes/blocks/block1.html.twig' with {'content' : event.description, 'image' : 'event/'~event.image} %}
{# Incluimoslos botones para compartir la página  #}
{% include '_includes/sharingbuttons.html.twig' %}
{# incluimos el bloque con los detalles del bloque #}
{% include '_includes/blocks/block-event-detail.html.twig' %}

{# Por último vemos el resto de eventos como recomendación #}
<section class="container">
	<h2 class="pt-5 pb-3 h3">Otros eventos que te pueden interesar</h2>
</section>

<section class="container">
	<div class="row">
	{% for related_event in related_events %}
        {% include '_includes/blocks/proximo-eventos.html.twig'%}
	{% endfor %}
	</div>
</section>

{% endblock %}
