{% extends 'base.html.twig' %}

{% block title %}Eventos{% endblock %}

{% block body %}

<section class="container mb-3">
	<div class="row ">
		{# Por cada categoria que tienen los eventos vemos una tarjeta con la inforamción correspondiente #}
		{% for category in categories %}
		{% include '_includes/blocks/eventcategorycard.html.twig' with {'category' : category} %}
		{% endfor %}
	</div>

</section>

{% endblock %}
