{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

{# En caso de encontrar el error 401 mostramos mensaje de error #}

	<div class="container">
		<h1>{{message}}</h1>
	</div>

{% endblock %}
