{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

{# En caso de encontrar el error 404 mostramos mensaje de error #}

<section class="p-2">
	<div class="container">

		<div class="alert alert-danger" role="alert">
			{{message}}
		</div>
	</div>

</section>


{% endblock %}
