{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

{# Incluimos el header 1  #}
{% include '_includes/blocks/heading1.html.twig' with {'content' : "Nombre del Evento"} %}
{# Incluimos el bloque de contenido 1  #}
{% include '_includes/blocks/block1.html.twig' with {'content' : "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio sunt fuga a dignissimos nulla, recusandae, mollitia tempore molestias perferendis", 'image' : "sevilla-1.jpg"} %}

<section class="container">
	<h2>Otros eventos que te pueden interesar</h2>
</section>

{# Incluimos los últimos eventos #}
<section class="container">
	{% include '_includes/blocks/proximo-eventos.html.twig' with {'content' : "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio sunt fuga a dignissimos nulla, recusandae, mollitia tempore molestias perferendis", 'image' : "event01.png", 'title' : "Concierto de marife de triana"} %}
</section>



{% endblock %}
