{% extends 'base.html.twig' %}

{% block title %}Inicio{% endblock %}

{% block body %}

<!-- Prueba home -->
<section class="container my-5 wow fadeInUp">
<div class="row my-5">
<div class="col-md-7 col-12 p-3 ">

<div>
	<h4 class="card-title my-3"><a>Último Post</a></h4></div>
<div class="card align-items-center">
	<div class="row card-body">
		<div style="max-height:250px; overflow:hidden;" class="col-md-6 col-xs-12">
			<img src="{{asset('assets/img/blog/feature/')}}{{page.image}}" class="img-fluid myImg" alt="{{page.metaDescription|slice(0, 60)}}...">
		</div>
		<div class="col-md-6 col-xs-12">
			<!-- Title -->
			<h4 class="card-title">{{page.title}}</h4>
			<hr>
			<!-- Text -->
			<p class="card-text">{{page.metaDescription|slice(0, 60)}}...</p>
			<!-- Link -->
			<a href="{{path('post', {'slug' : page.slug })}}" class="black-text d-flex justify-content-end">
				<h5>Leer completo&nbsp<i class="fas fa-angle-double-right"></i></h5>
			</a>
		</div>
	</div>
</div>
</div>
<div class="col-md-5 col-12 p-3 ">
<div>
	<h4 class="card-title my-3"><a>Última Review</a></h4></div>

    	{% if review.image %}
    	<div class="card align-items-center ">
    		<div class="row p-3">
	        <div class="col-5 img-border px-3 img-box">
	          <img class="img-fluid myImg crop-img-review" src="{{asset('assets/img/reviews/')}}{{review.image}}" alt="{{review.content| slice(0, 45)}}...">
	        </div>
	        <div class="col-7">
		{% else %}
		    <div class="card">
    		<div class="row p-3">
		    <div class="col-12">

        {% endif %}

            <div class="col-12 card-title">
						<!-- Estrellas -->

				<p class="stars center-text m-0">
					  {# Mostramos las estrellas que tiene la review #}
		              {% set estrellas = 5 %}

		              {% for i in 1..review.score %}
		                <i class="fas fa-star stars checked"></i>
		                {% set estrellas = estrellas - 1 %}
		              {% endfor %}
		              {% if estrellas > 0 %}
		                {% for i in 1..estrellas %}
		                  <i class="fas fa-star stars"></i>
		                {% endfor %}
		              {% endif %}
				</p>
				<hr>
            </div>

            <p class="card-text">{{review.content| slice(0, 60)}}...</p>

						<!-- Link -->
						<a href="{{path('business-detail', {'slug' : review.business.slug})}}" class="black-text d-flex justify-content-end">
							<h5 id="size-moreinfo">Leer completo &nbsp<i class="fas fa-angle-double-right"></i></h5>
						</a>

          </div>

      </div>
    </div>
  </div>

</div>
</section>

<!-- Proximos eventos... -->
<section class="prox-events wow fadeInUp">
<div class="container mt-3 ">
	<h4 class="card-title"><a>Próximos eventos</a></h4>
	<div class="row perfil my-3 ">
			{% for event in events %}
				<div class="col-md-4 col-xs-12 mb-3">
					<div class="card h-100">
						<!-- Card content -->
						<div class="card-body">
							<!-- Title -->
							<h4 class="card-title">{{event.name}}</h4>
							<hr>
							<!-- Text -->
							<p class="card-text">{{event.description|slice(0,65)}}...</p>
							<!-- Link -->
							<a href="#!" class="black-text d-flex justify-content-end">
								<h5>Más información &nbsp<i class="fas fa-angle-double-right"></i></h5>
							</a>

						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
<!--/Proximos eventos -->

<!--Negocios aleatorios -->
{# Mostramos los negocios aleatorios (Por hacer)#}

<section class="prox-events wow fadeInUp">
<div class="container mt-3 ">
<h4 class="card-title"><a>Negocios recomendados</a></h4>
<div class="row perfil my-3 ">
	{% for business in businesses %}
		{% include '_includes/blocks/business1.html.twig' with {'business' : business} %}
	{% endfor %}
</section>
<!--/Negocios aleatorios -->

<!--Instagram-->

<section class="prox-events wow fadeInUp">
<div class="container mt-3 ">
<h4 class="card-title"><a>Instagram</a></h4>
<div class="row perfil my-3 ">

{% include '_includes/instagramFeed.html.twig' %}

</div>
</div>
</section>
<!--/Instagram-->


<!-- Login -->
<section id="login" class="wow fadeInUp">
	<div class="container ">
	  <div class="row align-items-center my-4">
		 	<div class="col-md-4 col-xl-5 mb-5">
				<div class="card rgba-card animated" data-wow-delay="0.3s">
				<div class="card-body">
				<form action="{{path('login')}}" method="POST" id="formulario" name="formulario" autocomplete="on">
					<div class="text-center">
						<h3>Inicia sesión</h3>
						<a href="#">o Regístrate</a>

								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
						</div>

		<!-- Body del Form -->
					<div class="form-group md-form ">
						<label for="_username" class="font-weight-light">Correo Electrónico</label>
						<input type="email" class="form-control text-lowercase" name="_username" id="username">
					</div>
					<div class="form-group md-form">
						<label for="_password" class="font-weight-light mx-1">Password</label>
						<input type="password" class="form-control" id="password" name="_password">
					</div>
					<div class="checkbox">
						<span class="character-checkbox" onclick="showPassword()"></span>
						<span class="label">Mostrar contraseña</span>
					</div>
					<button type="submit" class="boton-linea-ext2">
						<span class="linea1_2"></span>
						<span class="linea2_2"></span>
						<span class="linea3_2"></span>
						<span class="linea4_2"></span>
						<p>Iniciar Sesión</p>
					</button>
				</form>
					<a href="javascript:;" class="forget" data-toggle="modal" data-target=".forget-modal">Olvidó su contraseña?</a>

			</div>
		</div>
	</div>

	 <div class="col-md-6 col-xl-7 mt-md-0  text-center text-md-left animated fadeInRight" data-wow-delay="10s">
	                    <h1 class="font-weight-bold text-registro">Un color especial</h1>
											<hr></hr>
											<p class="mb-3">Si te resgistras...Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea dolor molestiae, quisquam iste.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea dolor molestiae, quisquam iste.</p>
	                    <div class="boton-linea-ext2">
	                        <span class="linea1_2"></span>
	                        <span class="linea2_2"></span>
	                        <span class="linea3_2"></span>
	                        <span class="linea4_2"></span>
	                        <a href="#">Leer más</a>
	                    </div>
	           </div>
</div>
</div>
</div> <!-- /.container -->
</section>
<!--/Login -->

<!-- Tiempo -->
<section class="wow fadeInUp">
	<div class="container mt-5">

		<div>
			<h3 class="card-title">El tiempo</h3>
		</div>
		<hr class="my-4">
		</hr>
		<div class="row mx-4 my-4">
			<!-- Muetro la temperatura en sevilla -->
			<div class="col mx-auto">
				<div class="row my-3">Sevilla</div>
				<div class="row my-3"><label id="iconoLabel" disabled /></div>
			</div>
			<div class="col mx-auto my-auto">
				<div class="row ">
					<div class="col">
						<div>
							<label class="label-temp" id="temperatura" disabled=true></label>
							<i ><img id="iconoImg"></img></i>
						</div>
					</div>
					<div class="col mx-auto my-auto center-block">
						<div>
							<i class="fas fa-angle-double-up "></i>
							<label id="tempMax" disabled=true></label>
						</div>
						<div>
							<i class="fas fa-angle-double-down"></i>
							<label id="tempMin" disabled=true></label>
						</div>
					</div>
				</div>
			</div>
			<div class="col mx-auto my-auto">
				<div>
					<i class="fas fa-tint"></i>
					<label id="humedad" disabled=true></label>
				</div>
				<div>
					<svg style="width:15px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 viewBox="0 0 456.383 456.383" style="enable-background:new 0 0 456.383 456.383;" xml:space="preserve">
					<g>
						<path d="M318.383,100.191c0-31.981-26.019-58-58-58h-10v30h10c15.439,0,28,12.561,28,28s-12.561,28-28,28h-259v30h259
							C292.364,158.191,318.383,132.173,318.383,100.191z"/>
						<path d="M335.383,298.191h-334v30h334c15.439,0,28,12.561,28,28s-12.561,28-28,28h-10v30h10c31.981,0,58-26.019,58-58
							S367.364,298.191,335.383,298.191z"/>
						<rect x="137.383" y="213.191" width="319" height="30"/>
						<rect y="213.191" width="107.383" height="30"/>
					</g>
					</svg>

					<label id="viento" disabled=true></label>
				</div>
			</div>


		</div>
	</div>
	</div>
	</div>
</section>

<!-- /Tiempo -->


<!-- Ventana Modal -->

	<div id="popupmobile" class="d-none">
	<div class="bg-modal myModal"></div>
		<div class="popup-content modal-content">
			<div class="row">
			<div class="col-4"><a href=""><img class="logo-modal align-items-center" src='{{asset('assets/img/')}}logo.png'></a></div>

			<div class="col-8"><a href=""><img class="img-fluid align-items-center" src='{{asset('assets/img/')}}play-store.png' alt=""></a></div>
			</div>
			<div class="row pt-3 justify-content-center">
				<a class="col-10 btn btn-orange py-1" id="notShow">No mostrar</a>
			</div>
		</div>
	</div>
<!-- /Ventana Modal -->

{% endblock %}
