{% extends 'base.html.twig' %}

{% block title %}Información{% endblock %}

{% block body %}

	<!-- Mas info-->

		<section>
			<div class="container p-4">
				<div class="row my-2">
					<div class="col">
						<div class="card p-3 text-left">
							<blockquote class="blockquote">
								<div class="card-body">

									<h2 class="card-title font-weight-bold mb-3">Registro en la web</h2>
									<p class="mb-0">Si te registras en UnColorEspecial podrás disfrutar de muchas ventajas:</p>


									<ul class="list-group list-group-flush">
										<li class="list-group-item"><i class="fas fa-check mr-3 "></i>Promocionar tu negocio</li>
										<li class="list-group-item"><i class="fas fa-check mr-3 "></i>Publicar un evento</li>
										<li class="list-group-item"><i class="fas fa-check mr-3 "></i>Publicar y valorar negocios</li>
										<li class="list-group-item"><i class="fas fa-check mr-3 "></i>Lorem ipsum.</li>
									</ul>
								</div>
									<footer class="blockquote-footer m-5">
										<small class="text-muted">
											El equipo de <cite title="Source Title">UnColorEspecial</cite>
										</small>

									</footer>
									<button type="submit" class="boton-linea-ext2">
										<span class="linea1_2"></span>
										<span class="linea2_2"></span>
										<span class="linea3_2"></span>
										<span class="linea4_2"></span>
										<p>Registrate</p>
									</button>
							</blockquote>
						</div>
					</div>

				<div id="login" class="col-12 col-md-4 pt-0">
					<div class="card rgba-card animated fadeInRight" data-wow-delay="0.3s">
						<div class="card-body">
						<form action="{{path('login')}}" method="POST" id="formulario" name="formulario" autocomplete="on">
							<div class="text-center pt-2">
								<h3>¿Ya estás registrado?</h3>
							</div>

				<!-- Body del Form -->
							<div class="form-group md-form ">
								<label for="_username" class="font-weight-light">Correo Electrónico</label>
								<input type="email" class="form-control text-lowercase" name="_username" id="username">
							</div>
							<div class="form-group md-form">
								<label for="_password" class="font-weight-light mx-1">Password</label>
								<input type="password" class="form-control" id="password" name="_password">
							</div>
							<div class="checkbox">
								<span class="character-checkbox" onclick="showPassword()"></span>
								<span class="label">Mostrar contraseña</span>
							</div>
							<button type="submit" class="boton-linea-ext2">
								<span class="linea1_2"></span>
								<span class="linea2_2"></span>
								<span class="linea3_2"></span>
								<span class="linea4_2"></span>
								<p>Iniciar Sesión</p>
							</button>
						</form>
							<a href="javascript:;" class="forget" data-toggle="modal" data-target=".forget-modal">Olvidó su contraseña?</a>
					
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
