<!-- Menú de administración -->

<!--Navbar -->
<nav id="admin-menu" class="mb-0 navbar navbar-expand-lg navbar-dark  ">
	<a class="navbar-brand" href="#">ADMIN</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
	aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarSupportedContent-555">
	<ul class="navbar-nav mr-auto">

		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown"
			aria-haspopup="true" aria-expanded="false">Negocios
		</a>
		<div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-555">
			<a class="nav-link" href="{{path('admin-businesses')}}"><i class="fas fa-cogs"></i> Administrar</a>
			<a class="dropdown-item" href="{{path('create-business')}}"><i class="fas fa-plus-square"></i> Nuevo</a>
		</div>
	</li>

	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" data-toggle="dropdown"
		aria-haspopup="true" aria-expanded="false">Eventos
	</a>
	<div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-555">
		<a class="nav-link" href="{{path('admin-events')}}"><i class="fas fa-cogs"></i> Administrar</a>
		<a class="dropdown-item" href="{{path('create-event')}}"><i class="fas fa-plus-square"></i> Nuevo</a>
	</div>
</li>
<li class="nav-item dropdown">
	<a class="nav-link dropdown-toggle" data-toggle="dropdown"
	aria-haspopup="true" aria-expanded="false">Usuarios
</a>
<div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-555">
	<a class="nav-link" href="{{path('admin-users')}}"><i class="fas fa-cogs"></i> Administrar</a>
	<a class="dropdown-item" href="{{path('create-user')}}"><i class="fas fa-plus-square"></i> Nuevo</a>
</div>
</li>
<li class="nav-item dropdown">
	<a class="nav-link dropdown-toggle" data-toggle="dropdown"
	aria-haspopup="true" aria-expanded="false">Blog</a>
	<div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-555">
		<a class="nav-link" href="{{path('admin-blogs')}}"><i class="fas fa-cogs"></i> Administrar</a>
		<a class="dropdown-item" href="{{path('create-blog')}}"><i class="fas fa-plus-square"></i> Nuevo</a>
	</div>
</li>
</ul>
<ul class="navbar-nav ml-auto nav-flex-icons">
	<li class="nav-item avatar ">
		<a style="background-image: url({{asset('assets/img/user/')}}{{app.user.image}})" class="nav-link rounded-circle z-depth-0 avatar" id="navbarDropdownMenuLink-55" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

		</a>
</li>
</ul>
</div>

<!--/.Navbar -->
</nav>
<!-- Fin Menú de administración -->
