
{# Footer #}
<footer class="container-fluid footer">

  <div class="row inner_footer align-items-center">
    <div class="col-12 col-md-3 logo_container text-center">
      <img src="{{asset('assets/img/logo.png')}}" alt="">
    </div>


    <div class="col-12 col-md-9 inner_footer ">
      <div class="row">
        <div class="col-12 col-md-3 footer_third text-center text-md-left">
          <h4>¿Necesitas ayuda?</h4>
          <ul class="list-unstyled">
            <li><a href="#">Terminos &amp; Condiciones</a></li>
            <li><a href="#">Politica de privacidad</a></li>
          </ul>
        </div>

        <div class="col-12 col-md-3 footer_third align-items-center text-center text-md-left ">
          <h4>Más información</h4>
          <ul class="list-unstyled">
            <li><a href="#">Publicidad</a></li>
            <li><a href="#">Trabaja con nosotros</a></li>
            <li><a href="#">Donaciones</a></li>
            <li><a href="#">Colabora</a></li>
            <li><a href="#">Reportes</a></li>
          </lu>
        </div>

        <div class="col-12 col-md-3 footer_third text-center text-md-left">
          <h4>Sobre nosotros</h4>
          <ul class="list-unstyled">
            <li>Marta Jimenez Martinez</li>
            <li>Francisco Javier Montoro López</li>
            <li>Francisco Jesús Moreno Rodríguez</li>
            <li>Miguel Ángel Pérez Morales</li>
            <li>Daniel Villodres López</li>
          </ul>
        </div>

        <div class="col-12 col-md-3 footer_third text-center text-md-left">
          <h4>Redes Sociales</h4>
          <ul class="list-unstyled d-flex icons justify-content-around offset-2 col-8 pt-2 offset-md-0 col-md-7 pl-md-0">
            <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
            <li><a href=""><i class="fab fa-twitter-square"></i></a></li>
            <li><a href=""><i class="fab fa-github-square"></i></a></li>
            <li><a href=""><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</footer>
{% include '_includes/forgotpasswordmodal.html.twig' %}