<div class="modal fade forget-modal" id="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Recuperar Contraseña</h4>
      </div>
      <div class="modal-body mx-3">
        <div class="d-flex justify-content-center">
          <div id="passwordLoading" style="display:none" class="spinner-grow " role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
  
        <div id="passwordChanged" style="display:none" class="alert alert-success fadeIn animated ">
          <small>Tu contraseña se ha modificado y se te ha enviado a tu email.</small>
        </div>
        <div id="userNotExist" style="display:none" class="alert alert-danger fadeIn animated ">
          <small>El email no corresponde a ningún usuario.</small>
        </div>        <div class="md-form mb-5">
          <input type="email" id="email" class="form-control">
          <label for="email">Correo Electrónico</label>
        </div>
		<small>Te enviaremos un email con una nueva contraseña, después es recomendable que la cambies.</small>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button id="recoverPassword" class="btn btn-orange">Envíar contraseña</button>
        <button id="" class="btn btn-orange"  data-dismiss="modal" aria-label="Close">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<script>

  $('#recoverPassword').click(function(){

    $('#passwordLoading').show();
    $('#userNotExist').hide();
    $('#passwordChanged').hide();

  var form = new FormData();
  form.append("email", $('#email').val());

  var settings = {
    "url": "{{path('recover-password')}}",
    "method": "POST",
    "timeout": 0,
    "processData": false,
    "mimeType": "multipart/form-data",
    "contentType": false,
    "data": form
  };

  $.ajax(settings).done(function (response) {
      var data = $.parseJSON(response);
      if (data.status == true) {
        $('#passwordLoading').hide();
        $('#passwordChanged').show();


      }else{
        $('#passwordLoading').hide();
        $('#userNotExist').show();

      }
  });
  });

</script>