{# Header #}
{# Con este if controlamos si el usuario es administrador, en caso de serlo se muestra la barra de administrador #}
{% if app.user %}
	{% if app.user.rol.name == "ROLE_ADMIN" %}
{# Incluimos el documento con la información de la barra de administrador #}
		{% include '_includes/admin-top-bar.html.twig' %}
	{% endif %}
{% endif %}
<header class="">

{# Barra de menus para móvil #}
	<div id="mobile-menu-button" class="menu_bar">
		<p class="title">Un Color Especial</p>
		<i class=" menu-button fas fa-bars"></i>
	</div>

{# Barra de menú normal #}
	<nav id="main-menu" class="">
		<div class="menu-box">
			<ul>
				<li><a href='{{path('home')}}'>Inicio</a></li>
				<li><a href='{{path('categories')}}'>Blog</a></li>
				<li><a href='{{path('business-categories')}}'>Negocios</a></li>
			</ul>

			<img id='logo' src='{{asset('assets/img/')}}logo.png'>

			<ul>
				<li><a href='{{path('event-categories')}}'>Eventos</a></li>
				<li><a href='{{path('contact-form')}}'>Contacto</a></li>


				{% if app.user %}
				<li>
					<div class="dropdown show">
					<a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Perfil</a>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						    <a class="dropdown-item" href="{{path('edit-user')}}"><i class="fas fa-user-edit"></i> Editar Perfil</a>
						    <div class="dropdown-divider"></div>
						    <a class="dropdown-item" href="{{path('logout')}}"><i class="fas fa-sign-out-alt"></i> Cerrar Sesion</a>
						</div>
					</div>
				</li>
				{% else %}
				<li><a href='{{path('login')}}'>Iniciar sesión</a></li>
				{% endif %}

			</ul>
		</div>
	</nav>
</header>
<!-- Fin Header -->
