
{# Instagram feed pagina negocios #}
<script src="{{asset('assets/js/jquery.instagramFeed.js')}}"></script>

{# Incluimos el script necesario para obtener la información de instagram #}
<div id="instagramFeed" class="instagram_feed my-5"></div>

{# Creamos el div donde se muestra la información y el script necesario #}
<script>
(function($){
  $(window).on('load', function(){
    $.instagramFeed({
      'username': '{{business.instagram}}',
      'container': "#instagramFeed",
      'display_profile': true,
      'display_gallery': true,
      'items': 10,
      'items_per_row': 5,
      'margin': 0.5
    });
  });
})(jQuery);
</script>
