{# Instagram feed pagina principal #}
<section class="container">

{# Incluimos el script necesario para obtener la información de instagram #}
<script src="{{asset('assets/js/jquery.instagramFeed.js')}}"></script>

{# Creamos el div donde se muestra la información y el script necesario #}

<div id="instagramFeed" class="instagram_feed "></div>

<script>
(function($){
  $(window).on('load', function(){
    $.instagramFeed({
      'username': 'uncolorespecialfct',
      'container': "#instagramFeed",
      'display_profile': true,
      'display_gallery': true,
      'items': 10,
      'items_per_row': 5,
      'margin': 0.5
    });
  });
})(jQuery);
</script>

</section>
