
{# Controlamos si el usuario esta registrado y mostramos un mensaje acorde #}
{% if app.user %}

{% set content = 'Bienvenido de nuevo ' ~ app.user.name ~ ' ' ~ app.user.surnames %}
{# incluimos el bloque de contenido 7 #}
{% include '_includes/blocks/block7.html.twig'%}
<div class="menu-box">
	<ul>
		<li><a href='{{path('edit-user')}}'>Edita tus datos</a></li>
	</ul>
</div>

{# En caso de no estar registrado se muestran opciones para hacer login o registrarse #}
{% else %}

{% set content = 'Inicie sesión o regístrese en los siguientes enlaces' %}
{# Inclimos el bloque de contenido 7 #}
{% include '_includes/blocks/block7.html.twig'%}
<div class="menu-box">
	<ul>
		<li><a href='{{path('register-user')}}'>Crea una cuenta</a></li>
		<li><a href='{{path('login')}}'>Iniciar sesión</a></li>
	</ul>
</div>

{% endif %}
