{# Botones para las redes sociales #}
<section class="container">
	<!--Scripts necesarios para botones redes sociales-->
	<!--Twitter-->
	<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	<!--facebook-->
	<div id="fb-root"></div>
	<script async defer crossorigin="anonymous"
	src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v6.0"></script>


{# div para mostrar dichos botones #}
	<div class="row">

		<p class="text-muted col-12 col-md-5 offset-md-7 mb-0 p-0 font-weight-bold">COMPARTIR: <small class="text-right" id="clipboard"></small>

		</p>


		<div class="col-12 col-md-5 offset-md-7">
			<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="btn btn-facebook"><i class="fab fa-facebook"></i></a>

			<a target="_blank" href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="btn btn-twitter" data-size="large" data-text="Mira este sitio!" data-hashtags="Sevilla" data-show-count="false"><i class="fab fa-twitter"></i></a>

			<a class="btn btn-whatsapp" onclick="whatsApp();"><i class="fab fa-whatsapp"></i></a>

			<a class="btn btn-clipboard" onclick="clipboard();"><i class="fas fa-link"></i></a>

		</div>

	</div>

</section>
