<!-- INICIO block-event-detail -->

<section class="container-fluid block-6 block">
	<div class="bg-box" style="background-image: url({{asset('assets/img/event/')}}{{event.image}})">
		<div class="col-12 text-center content-box">
			<div class="container">


				<ul class="list-unstyled text-white h4 col-12 col-md-6 offset-md-3">
					<li class="text-left"><i class="fas fa-home"></i> {{event.place}}</li>
					<li class="text-left"><i class="fas fa-map-marker-alt"></i> {{event.direction}}</li>
					<li class="text-left"><i class="fas fa-calendar"></i> {{event.eventDate|date("m/d/Y")}}</li>
				</ul>
 				
			</div>

		</div>
	</div>
</section>
<!-- FIN block-event-detail -->
