<!-- INICIO bloque 11 -->
<section class="container-fluid">
  <div class="row align-items-center">
    <div class="col-md-6 col-12 img-border">
      <img class="img-fluid myImg" src="{{asset('assets/img/')}}{{image}}" alt="{{content|slice(0,40)}}...">
    </div>
    <div class="col-md-6 col-12 text-center">
      <p>{{content}}</p>
    </div>
  </div>
</section>
<!-- FIN bloque 11 -->
