<!-- INICIO block-business-detail -->

<section class="container-fluid block-6 block">
	<div class="bg-box" style="background-image: url({{asset('assets/img/business/')}}{{business.image}})">
		<div class="col-12 text-center content-box">
			<div class="container">

				
				<ul class="list-unstyled text-white h4 col-12 col-md-6 offset-md-3">
					<li class="text-left"><i class="fas fa-phone-square"></i> {{business.phone}}</li>
					<li class="text-left"><i class="fas fa-map-marker-alt"></i> {{business.direction}}</li>
					<li class="text-left"><i class="fas fa-globe"></i><a class="text-white" href= "{{business.web}}" target="_blank" > {{business.web}}</a></li>
				</ul>

			</div>

		</div>
	</div>
</section>
<!-- FIN block-business-detail -->
