<!-- INICIO bloque 10 -->
<section class="container">
  <div class="row align-items-center">
    <div class="col-md-6 col-12">
      <p>{{content}}</p>
    </div>
    <div class="col-md-6 col-12">
      <img class="img-fluid myImg" src="{{asset('assets/img/')}}{{image}}" alt="{{content|slice(0,40)}}...">
    </div>
  </div>
</section>
<!-- FIN bloque 10 -->
