<!-- INICIO bloque 5 -->
<section class="container-fluid block-5 block">
	<div class="bg-box" style="background-image: url({{asset('assets/img/')}}{{image}})">
		<div class="col-12 text-center content-box">
			<h2>{{content}}</h2>
		</div>
	</div>
</section>
<!-- FIN bloque 5 -->
