<!-- INICIO bloque 1 -->
<section class="container block-1 block">
	<div class="row align-items-center">
		<div class="col-md-5 col-12">
			<img class="img-fluid myImg" src="{{asset('assets/img/')}}{{image}}" alt="{{content|slice(0,40)}}...">
		</div>
		<div class="col-md-7 col-12 text-justify">
			<p>{{content}}</p>
		</div>
	</div>
</section>
<!-- FIN bloque 1 -->
