<!-- INICIO bloque 6 -->

<section class="container-fluid block-6 block">
	<div class="bg-box" style="background-image: url({{asset('assets/img/')}}{{image}})">
		<div class="col-12 text-center content-box">
			<div class="container"><p>{{content}}</p></div>

		</div>
	</div>
</section>
<!-- FIN bloque 6 -->
