<!-- INICIO bloque 2 -->
<section class="container block-2 block">
  <div class="row align-items-center">
    <div class="col-md-7 col-12">
      <p>{{content}}</p>
    </div>
    <div class="col-md-5 col-12">
      <img class="img-fluid myImg" src="{{asset('assets/img/')}}{{image}}" alt="{{content|slice(0,40)}}...">
    </div>
  </div>
</section>
<!-- FIN bloque 2 -->
