
{# Mostramos las categorias de los negocios #}
<div class="col-sm-6 scroll-horizontal">
    <div class="category-business-card">
      <div class="view zoom img-box">
        <img src="{{asset('assets/img/business_category/')}}{{category.image}}" class="img-fluid" alt="">
        <a href="{{path('business-category',{'slug':category.slug} )}}">
          <div class="mask flex-center rgba-brown-light">
            <h4 class="white-text">{{category.name}}</h4>
          </div>
        </a>
      </div>
    </div>
</div>