
<!-- BUSINESS DE CATEGORIAS -->
<div id="" class="categoryBusinessCard col-md-4 col-10 col-sm-6 p-3 puntuacion-{{business.score|round( 0, 'floor')}}" data-name="{{business.score|round( 0, 'floor')}}">

<div class="animated fadeIn business-category-business-card " >
	<div class="card ">
		<div class="card-img-top img-box d-flex align-items-center zoom ">
			<a href="{{path('business-detail',{'slug':business.slug} )}}">
				<img class="" src="{{asset('assets/img/business/')}}{{business.image}}" alt="{{business.description|slice(0,40)}}...">
			</a>
		</div>
		<div class="p-3">
			<h3>{{business.name}}</h3>
		</div>

		{# Con este if controlamos el numero de reviews que tiene cada negocio #}
		{% if business.score > 0 %}

			{% set score = business.score %}

			<div class="pl-3">


				{% for i in 0..4 %}
					{% set score = score - 1 %}
					{% if score >= 0 %}
					{# Si tiene reviews mostramos las que tiene y las pasamos a estrellas haciendo la media #}
						<i class="fas fa-star stars checked"></i>
					{% else %}
					{# En caso de no tener no ponemos las estrellas "rellenas" #}
						<i class="fas fa-star stars"></i>
					{% endif %}
				{% endfor %}
			({{business.nReviews}})
		</div>
		{% else %}

		<div class = "pl-3">
			<i class="far fa-star stars"></i>
			<i class="far fa-star stars"></i>
			<i class="far fa-star stars"></i>
			<i class="far fa-star stars"></i>
			<i class="far fa-star stars"></i>
			({{business.nReviews}})
		</div>

		{% endif %}
		<div class="p-3">
			<p>{{business.description|slice(0,65)}}...</p>
		</div>



		<div class="card-footer text-muted text-center mt-4">
			<a href="{{path('business-detail',{'slug':business.slug} )}}">VER FICHA</a>
		</div>

	</div>
</div>

</div>
