
{# Mostramos las categorias de los negocios #}
<div class="col-md-4 col-xs-12 mt-3 mb-3 category-business-card">
	<div class="view zoom img-box">
		<img src="{{asset('assets/img/business_category/')}}{{category.image}}" class="img-fluid " alt="">
		<a href="{{path('business-category',{'slug':category.slug} )}}">
			<div class=" mask overlay flex-center rgba-brown-light">
				<h3 class="white-text">{{category.name}}</h3>
			</div>
		</a>
	</div>
</div>
