
<!-- BUSINESS DE CATEGORIAS -->

<div class="col-md-4 col-12 p-3 animated fadeIn business-category-business-card ">
		<div class="card">
			<div class="same-height-cards">
				<div class="card-img-top img-box d-flex align-items-center zoom">
					<a href="{{path('event-detail',{'slug':event.slug} )}}">
						<img class="" src="{{asset('assets/img/event/')}}{{event.image}}" alt="{{event.description|slice(0,40)}}...">
					</a>
				</div>
				<div class="p-3">
					<h3>{{event.name}}</h3>
				</div>

				<div class="p-3">
						<p>{{event.description|slice(0,160)}}...</p>
				</div>
			</div>
			<div class="card-footer text-muted text-center mt-4">
     			 <a href="{{path('event-detail',{'slug':event.slug} )}}">VER FICHA</a>
    		</div>
		</div>
</div>
