
{# Mostramos las categorias de los negocios #}

    <div class="col-sm-6 scroll-horizontal">
      <div class="view">
        <img src="{{asset('assets/img/event_category/')}}{{category.image}}" class="img-thumbnail img-fluid crop-img-app" alt="guias" />
        <a href="{{path('event-category',{'slug':category.slug} )}}">
          <div class="mask flex-center rgba-brown-light">
            <h3 class="white-text">{{category.title}}</h3>
          </div>
        </a>
      </div>
    </div>