
{# Mostramos las categorias de los eventos #}
<div class="col-md-4 col-xs-12 mt-3 mb-3 category-business-card">
	<div class="view zoom img-box">
		<img src="{{asset('assets/img/event_category/')}}{{category.image}}" class="img-fluid" alt="">
		<a href="{{path('event-category',{'slug':category.slug} )}}">
			<div class=" mask overlay flex-center rgba-brown-light">
				<h3 class="white-text">{{category.title}}</h3>
			</div>
		</a>
	</div>
</div>
