
  <!-- INICIO heading 1 -->

  <section class="container block-8 block">

      <div class="col-12 text-center content-box">
          <h1>{{content}}</h1>
    </div>
  </section>
  <!-- FIN bloque 8 -->
