<!-- INICIO review 1 -->
<div class="row p-3">
  <div class="card align-items-center col-12 p-3">

    <h3 class="mb-4">¿Quieres dejar tu opinión?</h3>

    {# En caso de que el usuario este logeado mostramos la posibilidad de dejar una review en el negocio o evento que este visitando #}
    {% if app.user %}

    {{ form_start(form, {'attr': {'class': 'col-12'}} ) }}
    <div class="row">
      <div class="form-group col-12 col-md-8">
        {{ form_label(form.reviewContent, 'Tu opinión', {'label_attr': {"class" : "font-weight-light mx-1"}} )}}
        {{ form_widget(form.reviewContent, {'attr': {"class" : "form-control rounded-0", "maxlength" : "240"}})}}

        <small id="max-characters" class="form-text text-muted ml-2"><span>0</span>/240 caracteres</small>

      </div>
      <div class="form-group col-12 col-md-4">
        {{ form_label(form.score, 'Puntuación', {'label_attr': {"class" : "font-weight-light mx-1"}} )}}
        {{ form_widget(form.score, {'attr': {"class" : "form-control rounded-0"}})}}


        <div class="custom-file col-12 mt-3" id="fotoReview">

          {{ form_widget(form.image, {'attr': {"class" : "custom-file-input", "accept" : ".jpg,.jpeg", "onchange" : "validateFileType()"}})}}
          {{ form_label(form.image, 'Sube una foto', {'label_attr': {"class" : "custom-file-label rounded-0 subir-foto", 'lang' : 'es'}} )}}

        </div>
        <div class="mt-2">

          <img src="#" alt="Preview" class="img img-fluid img-avatar d-none rounded" id="fotoPreview">

        </div>

        <script>


        </script>

        <div id="image_error" class="alert alert-danger d-none p-1 mt-2"></div>

      </div>

      <button type="submit" class="boton-linea-ext2 mt-4">
        <span class="linea1_2"></span>
        <span class="linea2_2"></span>
        <span class="linea3_2"></span>
        <span class="linea4_2"></span>
        <p>Enviar</p>
      </button>
    </div>

    {{ form_end(form)  }}

    {# En caso de que el usuario no este logeado le ofrecemos la posibilidad de logearse#}
    {% else %}

    <div class="row">
      <div class="col-12 pl-5">
        <p class="text-center">¡No has iniciado sesión! Si deseas realizar un comentario, antes debes iniciar sesión. Para ello utiliza el link de abajo que te llevará a la página de iniciar sesión.</p>
      </div>
      <div class="col-12">
        <a href="{{path('login')}}" type="submit" class="boton-linea-ext2">
          <span class="linea1_2"></span>
          <span class="linea2_2"></span>
          <span class="linea3_2"></span>
          <span class="linea4_2"></span>
          <p>Iniciar Sesión</p>
        </a>

      </div>
    </div>

    {% endif %}

  </div>
</div>
<!-- FIN review 1 -->
