
{# Paginación #}
<nav aria-label="Paginacion de la tabla">
<ul class="pagination pg-amber">

{# Creamos una lista donde mostraremos nuestros botones #}
  <li class="page-item">

{# Controlamos si la pagina actual es masyor que la uno, si es asi mostramos un boton para ir hacia atrás #}
    {% if currentPage > 1 %}
    <a href="{{path(route , {'page' : currentPage - 1} )}}" class="page-link" aria-label="Previo">
      <span aria-hidden="true">&laquo;</span>
    </a>
    {% endif %}
  </li>

{# Mostramos botones para poder navegar por las diversas páginas de contenido #}
  {% for i in 1..totalPages %}
    {% if i ==  currentPage %}
  <li class="page-item active"><a href="{{path(route , {'page' : i} )}}" class="page-link">{{i}}</a></li>
    {% else %}
  <li class="page-item d-none d-md-block"><a href="{{path(route , {'page' : i} )}}" class="page-link">{{i}}</a></li>
    {% endif %}
  {% endfor %}

{# Mostramos un botón para ir a la página siguiente si no estamos ya en la última #}
  <li class="page-item">
    {% if totalPages > currentPage %}
      <a href="{{path(route , {'page' : currentPage + 1} )}}" class="page-link" aria-label="Siguiente">
        <span aria-hidden="true">&raquo</span>
        <span class="sr-only">Siguiente</span>
      </a>
    {% endif %}
  </li>

</ul>
</nav>
