<div class="col-sm-6 scroll-horizontal">
      <div class="card">
        <!-- Card content -->
        <div class="row card-body ">
          <div class="col-sm-6 scroll-horizontal">
            <img src="{{asset('assets/img/blog/feature/' ~ post.image)}}" class="img-fluid myImg" alt="Publicaciones">
          </div>
          <div class="col-sm-6 scroll-horizontal">

			<h4 class="card-title pt-3">{{post.title}}</h4>
            <hr>
            <!-- Text -->
            <p class="card-text">
           	{{post.metaDescription|slice(0,650)}}...
            </p>
            <!-- Link -->
            <a href="{{path('post', {slug : post.slug})}}" class="black-text d-flex justify-content-end">
              <h5>Leer completo &nbsp; <i class="fas fa-angle-double-right"></i></h5>
            </a>

          </div>
        </div>
      </div>
    </div>

