<!-- INICIO Proximos Eventos 1 -->
<div class="p-2 mb-3 col-12 col-md-6">
<div class="card">
  <a href="{{path('event-detail', {'slug' : related_event.slug})}}">
  <div class="row no-gutters">
    <div class="col-md-4 event-img" style="background-image:url({{asset('assets/img/event/')}}{{related_event.image}})">
     	
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="h5 card-title">{{related_event.name}}</h4>
        <p class="card-text">{{related_event.description|slice(0, 150)}}...</p>
        <p class="card-text"><small class="text-muted">Fecha: {{related_event.eventDate|date("d/m/Y")}}</small></p>
      </div>
    </div>
  </div>
  </a>
</div>
</div>

<!-- FIN Proximos Eventos 1 -->
