<!-- INICIO review 1 -->
<div class="col-md-6 col-12 p-3 ">
  <div class="card align-items-center business-review-card">
    <div class="row">
      <div class="col-12 pt-3">
        
        <div class="row text-muted time-review justify-content-center">
          <div class="col-3 col-sm-2">
          <img style="" src="{{asset('assets/img/user/')}}{{review.user.image}}" class="img img-fluid crop-img-review-profile" alt="Responsive image"></div>
          <span class="col-12 text-center">{{review.user.alias}}</span>
              
        </div>

      </div>
    </div>

    <div class="row p-3">
      {# En caso de que la review tenga una imagen la mostramos #}
      {% if review.image %}
        <div class="col-5 img-border px-3 img-box">
          <img class="img-fluid myImg crop-img-review" src="{{asset('assets/img/reviews/')}}{{review.image}}" alt="{{review.content|slice(0,40)}}...">
        </div>

        <div class="col-7">
        {# Si no la tiene la omitimos y alinemos las estrellas para que quede mejor visualmente #}
      {% else %}

        <div class="col-12 d-flex justify-content-start">

      {% endif %}


          <div class="row justify-content-center">

            <div class="pb-2">
              {# Mostramos las estrellas que tiene la review #}
              {% set estrellas = 5 %}

              {% for i in 1..review.score %}
                <i class="fas fa-star stars checked"></i>
                {% set estrellas = estrellas - 1 %}
              {% endfor %}
              {% if estrellas > 0 %}
                {% for i in 1..estrellas %}
                  <i class="fas fa-star stars"></i>
                {% endfor %}
              {% endif %}

            </div>

            <p class="col-12">{{review.content}}</p>

          </div>
        </div>

      </div>


    </div>
  </div>
  <!-- FIN review 1 -->
