{% extends 'base.html.twig' %}

{% block title %}{{business.name}}{% endblock %}

{% block body %}

<!-- OPINIONES -->

<section class="container mb-4">
	{# Incluimos el blocked header 1 con el nombre del negocio #}
	{% include '_includes/blocks/heading1.html.twig' with {'content' : business.name} %}
</section>

{# Incluimos el bloque 1 con la descripción del negocio y su imagen #}
{% include '_includes/blocks/block1.html.twig' with {'content' : business.description, 'image': 'business/'~business.image} %}
{# Incluimos los botones de las redes sociales #}
{% include '_includes/sharingbuttons.html.twig' %}
{# Incluimos los detalles del negocio #}
{% include '_includes/blocks/block-business-detail.html.twig' %}

{# Si el negocio tiene una cuenta de instagram en la bbdd mostramos sus ultimas fotos subidas asi como su perfil #}
{% if business.instagram != NULL %}
<section class="container mt-4 mb-5">

	{% include '_includes/instagramFeedBusiness.html.twig' %}

</section>
<div class="clearfix">

</div>
{% endif %}

<section class="container mt-5">

	<div class="row">
		<div class="col-12">
			{# Incluimos la sección para realizar reviews #}

			{% if loggedUserReview == false %}
				{% include '_includes/blocks/opinion1.html.twig' %}
			{% else %}
				{% include '_includes/blocks/editar-opinion.html.twig' %}
			{% endif %}
		</div>
	</div>

</section>
<section class="container mt-4 mb-5">
	<h2>Reviews</h2>
	<hr></hr>

	{# Controlamos si hay reviews, si no las hay lo advertimos y si hay por lo menos 1 la mostramos con sus datos #}
	{% if reviews|length == 0 %}
	<p>Aún no hay reviews.</p>
	{% else %}
	<div class="row">
		{% for review in reviews %}

		{% include '_includes/blocks/review1.html.twig' with {'review' : review} %}

		{% endfor %}
	</div>
	{% endif %}
</section>

<script>

// $("#form_reviewContent").keyup(function(){
// 	var longitud = $("#form_reviewContent").val().length;
// 	$("#max-characters span").html(longitud);
//  });
contarCaracteres("#form_reviewContent", "#max-characters span");

</script>

{% endblock %}
