{% extends 'base.html.twig' %}

{% block title %}Negocios{% endblock %}

{% block body %}

<section class="container">
	<div class="row">
		{# Por cada categoría que tengamos en la bbdd mostramos una tarjeta  #}
		{% for category in categories %}
		{% include '_includes/blocks/businesscategorycard.html.twig' with {'category' : category} %}
		{% endfor %}
	</div>

</section>

{% endblock %}
