{% extends 'base.html.twig' %}

{% block title %}{{category.title}}{% endblock %}

{% block body %}
{# Incluimos el bloque de contenido 4, como contenido el titulo de la categoria y la imagen #}
{% include '_includes/blocks/block4.html.twig' with {'content' : category.title, 'image': 'event_category/'~category.image} %}

{# En esta sección por cada evento marcado como activo en la bbdd incluimos para mostrarlo  #}
<section class="container">
	<div class="row">
		{% for event in events %}
			{% if event.active == 1 %}
				{% include '_includes/blocks/event1.html.twig' with {'event' : event} %}
			{% endif %}
		{% endfor %}
	</div>

</section>

<section class="container">

{# Despues mostramos la opción para poder crear un nuevo evento  #}
	<div class="row p-3">
		<div class="card align-items-center col-12 p-3">
			<h3 class="mb-4 text-center">¿Quieres crear un evento?</h3>
			<div class="row">
				<div class="col-md-8 col-12 pl-5">
					<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, quia alias dicta assumenda amet sunt debitis, deserunt possimus blanditiis, nobis doloribus ipsum repudiandae consequuntur, aspernatur minima repellat natus sit distinctio!</p>
				</div>
				<div class="col-md-4 col-12">
					<a href="{{path('contact-form')}}" type="submit" class="boton-linea-ext2">
						<span class="linea1_2"></span>
						<span class="linea2_2"></span>
						<span class="linea3_2"></span>
						<span class="linea4_2"></span>
						<p>Escríbenos</p>
					</a>

				</div>
			</div>
		</div>
	</div>

</section>

{% endblock %}
