{% extends 'base.html.twig' %}

{% block title %}Administrar Blogs{% endblock %}

{% block body %}

	<section class="container">

		<div class="row">

			<h1 class="h5">Administrar Blogs</h1>
			<div class="container">
			<a href="{{path('create-blog')}}" type="button" class="btn btn-sm orange rounded-pill waves-effect waves-light"
				data-target=""><i class="fas fa-plus-square"></i>&nbsp;add</a>
			</div>
			<table class="table col-12 table-hover table-responsive-sm ">
			  <thead>
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Titulo</th>
			      <th scope="col">Categoría</th>
			      <th class="th-lg" scope="col">Acciones</th>
			    </tr>
			  </thead>
			  <tbody>
			  	{% for blog in blogs %}
				    <tr>
						{% if blog.active == 0 %}
						    	<th scope="row">
						    		<i class="far fa-file-alt text-danger"></i>
						    	</th>
						{% else %}
						    	<th scope="row">
						    		<i class="far fa-file-alt text-success"></i>
						    	</th>
						{% endif %}

				      <td>{{blog.title}}</td>
				      <td>{{blog.category.title}}</td>
				      <td class="row">
				      	<a class="btn btn-orange btn-sm col mx-1" href="{{path('admin-edit-blog',{'id':blog.id})}}"><i class="fas fa-user-edit"></i></a>
						{% if blog.active == 0 %}
				      		<a class="btn btn-success btn-sm col mx-1" href="{{path('active-blog',{'id':blog.id})}}"><i class="fas fa-check"></i></a>
				      	{% else %}
				      		<a class="btn btn-danger btn-sm col mx-1" href="{{path('active-blog',{'id':blog.id})}}"><i class="fas fa-times"></i></a>
				      	{% endif %}

				      	</a>
				      </td>
				    </tr>
			  	{% endfor %}

			  </tbody>
			</table>
		</div>

{% include '_includes/blocks/paginacion.html.twig' with {'currentPage' : currentPage, 'totalPages' : totalPages, 'route' : 'admin-blogs'} %}

	</section>

{% endblock %}
