{# Extiende la plantilla base #}
{% extends 'base.html.twig' %}

{% block title %}Administrar Negocios{% endblock %}

{% block body %}

<section class="container">

	<div class="row">

		<h1 class="h5">Administrar Negocios</h1>
		<div class="container">
			<a href="{{path('create-business')}}">
				<button type="button" class="btn btn-sm orange rounded-pill waves-effect waves-light">
					<i class="fas fa-plus-square"></i>&nbsp;add</button>
			</a>
		</div>
		{# Hacemos una tabla para mostrar de forma ordenada los campos de nuestra pagina #}
		<table class="table col-12 table-hover table-responsive-sm ">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Nombre</th>
					<th scope="col">Teléfono</th>
					<th scope="col">Web</th>
					<th class="th-lg" scope="col">Dirección</th>
					<th scope="col">Categoría</th>
					<th class="th-lg" scope="col">Acciones</th>
				</tr>
			</thead>
			<tbody>
				{# Con este for mostramos los negocios y dependiendo de si esta activo o no le asignamos una imagen a cada uno #}
				{% for business in businesses %}
				<tr>
					{% if business.active == 0 %}
					<th scope="row">
						<img src="{{asset('assets/img/icons/briefcase-fill-red.svg')}}">
					</th>
					{% else %}
					<th scope="row">
						<img src="{{asset('assets/img/icons/briefcase-fill-green.svg')}}">
					</th>
					{% endif %}

					<td>{{business.name}}</td>
					<td>{{business.phone}}</td>
					<td>{{business.web}}</td>
					<td>{{business.direction}}</td>
					<td>{{business.category.name}}</td>
					<td class="row">
						<a class="btn btn-orange btn-sm col mx-1" href="{{path('admin-edit-business',{'id' : business.id})}}"><i class="fa fa-edit"></i></a>
						{% if business.active == 0 %}
						<a class="btn btn-success btn-sm col mx-1" href="{{path('active-business', {'id' : business.id})}}"><i class="fas fa-check"></i></a>
						{% else %}
						<a class="btn btn-danger btn-sm col mx-1" href="{{path('active-business', {'id' : business.id})}}"><i class="fas fa-times"></i></a>
						{% endif %}

					</a>
				</td>
			</tr>
			{% endfor %}

		</tbody>
	</table>
</div>

{# Incluimos la paginación para poder usar varias páginas si hay muchos negocios #}
{% include '_includes/blocks/paginacion.html.twig' with {'currentPage' : currentPage, 'totalPages' : totalPages, 'route' : 'admin-businesses'} %}

</section>

{% endblock %}
