{# Entiende la plantilla base #}
{% extends 'base.html.twig' %}

{% block title %}Crear Página{% endblock %}

{% block body %}

{# Cabecera del form para crear página #}
<section class="container mt-4 mb-5">
	<div class="mask rgba-fondo d-flex align-items-center">
		<div class="container">
			<div class="mt-3 row justify-content-center align-items-center">

				<div class="col-12 col-md-8">
					<div class="card rgba-card animated">
						<div class="card-body mx-3">
							{{ form_start(form) }}
							<div class="text-center">
								<h3><i class="far fa-file-alt"></i>&nbsp Nueva página</h3>
								{% if message is defined %}
								<p class="mt-4">
									{% if message_icon is defined %}
									{{message_icon | raw}}
									{% endif %}
									{{message}}
								</p>
								{% endif %}
							</div>
							<!-- Body del Form -->



							<div class="md-form form-row my-5">
								<div class="col mx-1">
									{{ form_label(form.title, 'Titulo', {'label_attr': {"class" : "font-weight-light mx-1"}})}}
									{{ form_widget(form.title,{'attr': {"class" : "form-control"}})}}
								</div>

								<div class="col mx-1">
									{{ form_label(form.meta_title, 'Meta Titulo', {'label_attr': {"class" : "font-weight-light mx-1"}})}}
									{{ form_widget(form.meta_title,{'attr': {"class" : "form-control"}})}}
								</div>

							</div>
							<div class="md-form form-row my-5">
								<div class="col mx-1">
									{{ form_label(form.slug, 'Slug', {'label_attr': {"class" : "font-weight-light mx-1"}})}}
									<small id="slug-exist" class="text-danger d-none">Ya existe una página con este slug.</small>
									{{ form_widget(form.slug,{'attr': {"class" : "form-control text-lowercase minus", "pattern" : "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$", "minlength" : "1", "maxlength" : "100"}})}}
									<small class="text-muted">Ej: un-color-especial</small>
								</div>

								<script>
									var form = new FormData();

									$('#form_slug').keyup(function(){

										var settings = {
										  "url": "{{path('check-post-slug')}}/" + $('#form_slug').val(),
										  "method": "GET",
										  "timeout": 0,
										  "headers": {
										    "Content-Type": "application/x-www-form-urlencoded"
										  },
										  "processData": false,
										  "mimeType": "multipart/form-data",
										  "contentType": false,
										  "data": form
										};

										$.ajax(settings).done(function (response) {
											var data = $.parseJSON(response);
										  console.log(data.exist);

										  if (data.exist) {
										  	$('.boton-linea-ext2').addClass('disabled');
										  	$('#slug-exist').removeClass('d-none')
										  }else{
										  	$('.boton-linea-ext2').removeClass('disabled');
										  	$('#slug-exist').addClass('d-none')
										  }

										});

									});

								</script>


							</div>

							<div class="md-form form-row mt-3">
								<div class="col mx-1">
									<label for="Meta_description" class="font-weight-light mx-1">Meta Descripción</label>
									{{ form_widget(form.meta_description, {'attr': {"class" : "md-textarea form-control"}})}}
								</div>
							</div>

							<div class="form-row mt-4">
							<div class="col-2 col-md-1">
								{{ form_label(form.active, '¿Activo?', {'label_attr': {"class" : "rounded-0  font-weight-light py-2"}})}}
								{{ form_widget(form.active, {'attr': {"class" : "form-control rounded-0"}})}}
							</div>
								<div class="col-10 col-md-5 mt-5">
									{{ form_widget(form.category, {'attr': {"class" : "rounded-0  custom-select"}})}}
								</div>

								<div class="col-12 col-md-6 mt-5" id="fotoReview">
									{{ form_label(form.image, 'Imagen', {'label_attr': {"class" : " rounded-0 subir-foto custom-file-label font-weight-light mx-1 "}})}}
									{{ form_widget(form.image, {'attr': {"class" : "custom-file-input ", "accept" : "image/jpeg"}})}}
									<div class="mt-2">

										<img src="#" alt="Preview" class="img img-fluid d-none rounded" id="fotoPreview">

									</div>
								</div>



							</div>

							<div class="text-center md-form my-5">
								<button type="submit" class="boton-linea-ext2">
									<span class="linea1_2"></span>
									<span class="linea2_2"></span>
									<span class="linea3_2"></span>
									<span class="linea4_2"></span>
									<p>Crear</p>
								</button>
							</div>
							{{ form_end(form) }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
