{# Extiende la plantilla base #}
{% extends 'base.html.twig' %}

{% block title %}Crear Bloque de contenido{% endblock %}

{% block body %}

<!-- Nuevo Bloque de contenido-->
<section class="container mt-4 mb-5">
  <div class="container mb-5 ">
    <div class="row mt-3 justify-content-center align-items-center">
      <div class="col-12 col-md-8">
        <div class="card rgba-card animated my-5">
          <div class="card-body mx-3">
            {{form_start(form)}}
            <div class="text-center">
              <h3>
                <i class="far fa-calendar-check"></i>&nbspBloque de contenido</h3>
              </div>
              <!-- Body del Form -->

              <div class="container">
                <img  id="preview" src="" class="img-fluid d-none mt-5" alt="Preview">
              </div>

              <div class="form-row mt-5 ">
                <div class="col mt-4">
                  {{ form_widget(form.blockType,{'attr': {"class" : "custom-select rounded-0"}})}}
                </div>

                <div class="col mt-4" id="fotoReview">

                  <label for="image" class="custom-file-label mt-0 rounded-0 subir-foto">Imagen</label>>
                  {{ form_widget(form.image,{'attr': {"class" : "custom-file-input", "style" : "top:-25px"}})}}
                  
                  <div class="mt-2 text-center">

                    <img src="#" alt="Preview" style="max-height:250px;" class="img-thumbnail d-none rounded " id="fotoPreview">

                  </div>
                </div>
              </div>

              <div class="form-group md-form mt-5">
                {{ form_widget(form.content,{'attr': {"class" : "md-textarea form-control", 'accept' : "image/jpeg"}})}}
                <label for="content">Contenido</label>
              </div>

              <div></div>
              <div class="text-center md-form my-5">
                <button type="submit" class="boton-linea-ext2">
                  <span class="linea1_2"></span>
                  <span class="linea2_2"></span>
                  <span class="linea3_2"></span>
                  <span class="linea4_2"></span>
                  <p>Crear</p>
                </button>
              </div>
              {{form_end(form)}}

              {# Se crea el script para controlar la imagen de preview que veremos #}
              <script>

              var route = "{{asset('assets/img/blog/content_blocks/preview/block')}}";

              $('#form_blockType').change(function(){
                if ($('#form_blockType').val() != '' ){
                  $('#preview').attr('src', route + $('#form_blockType').val() + '.png');
                  $('#preview').removeClass("d-none");
                }else {
                  $('#preview').addClass("d-none");
                }
              }
            );

            </script>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
