{# Extiende la plantilla base #}
{% extends 'base.html.twig' %}

{% block title %}Crear Negocio{% endblock %}

{% block body %}

{# Cabecera del form para crear negocio #}
<section class="container mt-4 mb-5">
	<div class="mask rgba-fondo d-flex align-items-center">
		<div class="container">
			<div class="row mt-3 justify-content-center align-items-center ">

				<div class="col-12 col-md-8 ">
					<div class="card rgba-card animated">
						<div class="card-body mx-3">
							{{ form_start(form) }}
							<div class="text-center ">
								<h3><i class="fas fa-briefcase"></i></i>&nbsp Nuevo negocio</h3>
								{% if message is defined %}
								<p class="mt-4">
									{% if message_icon is defined %}
									{{message_icon | raw}}
									{% endif %}
									{{message}}
								</p>
								{% endif %}
							</div>
							<!-- Body del Form -->

							<div class="md-form mt-5">
								<label for="name" id="name" class="font-weight-light
								">Nombre</label>
								{{ form_widget(form.name,{'attr': {"class" : "form-control", "maxlength" : "60", "minlength" : "1" }})}}
							</div>
							<div class="form-row mt-4 ">
								<div class="col-6 mt-5" id="fotoReview">
									<label for="image" class="custom-file-label mx-1 mt-0 rounded-0  subir-foto " >Imagen</label>
									{{ form_widget(form.image,{'attr': {"class" : "custom-file-input", "accept" : "image/jpeg"}})}}

									<div class="mt-2">

										<img src="#" alt="Preview" class="img img-fluid d-none rounded" id="fotoPreview">

									</div>
								</div>

								<div class="col-4 mt-5">
									{{ form_widget(form.category, {'attr': {"class" : "rounded-0  custom-select"}})}}
								</div>

								<div class="col-2 ">
									{{ form_label(form.active, '¿Activo?', {'label_attr': {"class" : "rounded-0  font-weight-light py-2"}})}}
									{{ form_widget(form.active, {'attr': {"class" : "form-control"}})}}
								</div>
							</div>

							<div class="md-form mt-5">
								<label for="description" class="font-weight-light mx-1">Descripción</label>
								{{ form_widget(form.description, {'attr': {"class" : "md-textarea form-control",'minlength' : "65", "maxlength" : "1000" }})}}
							</div>

							<div class="form-row md-form mt-5">
								<div class="col-9 mt-4">
									<label class="font-weight-light mx-1" for="direction">Dirección</label>
									{{ form_widget(form.direction, {'attr': {"class" : "form-control"}})}}
								</div>

								<div class="form-row md-form mt-5">
									<div class="col">
										{{ form_label(form.web, 'Web', {'label_attr': {"class" : "font-weight-light mx-1"}})}}
										{{ form_widget(form.web, {'attr': {"class" : "form-control"}})}}
									</div>
									<div class="col">
										{{ form_label(form.phone, 'Teléfono', {'label_attr': {"class" : "font-weight-light mx-1"}})}}
										{{ form_widget(form.phone, {'attr': {"class" : "form-control"}})}}
									</div>
									<div class="col">
										{{ form_label(form.instagram, 'Usuario de instagram', {'label_attr': {"class" : "font-weight-light mx-1"}})}}
										{{ form_widget(form.instagram, {'attr': {"class" : "form-control"}})}}
									</div>
								</div>

							</div>

							<div class="text-center md-form my-5">
								<button type="submit" class="boton-linea-ext2">
									<span class="linea1_2"></span>
									<span class="linea2_2"></span>
									<span class="linea3_2"></span>
									<span class="linea4_2"></span>
									<p>Crear</p>
								</button>
							</div>
							{{ form_end(form) }}
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
