{# Extiende la plantilla base #}
{% extends 'base.html.twig' %}

{% block title %}Editar Evento{% endblock %}

{% block body %}


{# Cabecera del form para editar evento #}
<section class="container mt-4 mb-5">
	<div class="mask rgba-fondo d-flex align-items-center">
		<div class="container mb-5">
			<div class="row mt-3 justify-content-center align-items-center">

				<div class="col-12 col-md-8">
					<div class="card rgba-card animated">
						<div class="card-body mx-3">
							{{ form_start(form) }}
							<div class="text-center">
								<h3><i class="far fa-calendar-check"></i>&nbsp Editar evento</h3>
								{% if message is defined %}
								<p class="mt-4">
									{% if message_icon is defined %}
									{{message_icon | raw}}
									{% endif %}
									{{message}}
								</p>
								{% endif %}
							</div>
							<!-- Body del Form -->

							<div class="form-group md-form mt-5">
								<label for="name" id="nom" class="font-weight-light mx-1">Nombre</label>
								{{ form_widget(form.name, {'value':event.name,'attr': {"class" : "form-control rounded-0"}})}}
							</div>
							<div class="form-row mt-5 ">

							<div class="col-4 mt-5 ">

								{{ form_widget(form.category, {'attr': {"class" : "custom-select rounded-0"}})}}

							</div>
								<div class="col-8 mt-5" id="fotoReview">

									<label for="imagen" class="custom-file-label mt-0 rounded-0 subir-foto">Imagen</label>
									{{ form_widget(form.image, {'required':false,'attr': {"class" : "custom-file-input", "accept" : "image/jpeg"}})}}
									<div class="row">
										<div class="col">
											<img src="{{asset('assets/img/event/') ~ event.image}}" class="img-thumbnail mt-2" id="fotoPreview">
										</div>
									</div>


								</div>

							</div>

							<div class="form-group md-form mt-4">
								{{ form_widget(form.description, {'value':event.description,'attr': {"class" : "md-textarea form-control"}})}}
								<label for="desc" class="font-weight-light mx-1">Descripción</label>
							</div>

							<div class="form-row mt-2 py-3">

								<div class="col-12 col-md-6 pb-3">
									<label class="font-weight-light col-12" for="date">Fecha</label>
									<div class="col-12 d-flex justify-content-between">

										{{ form_widget(form.date.day, {'value':event.eventdate|date('j'),'attr': {"class" : "custom-select mt-2 col-3 rounded-0"}})}}
										{{ form_widget(form.date.month, {'value':event.eventdate|date('n'),'attr': {"class" : "custom-select mt-2 col-4 rounded-0"}})}}
										{{ form_widget(form.date.year, {'value':event.eventdate|date('Y'),'attr': {"class" : "custom-select mt-2 col-4 rounded-0"}})}}
									</div>
								</div>

								<div class="col-12 col-md-6">
									<label class="font-weight-light col-12" for="time">Hora</label>
									<div class="col-12 justify-content-between">

										{{ form_widget(form.time.hour, {'value':event.eventdate|date('h'),'attr': {"class" : "custom-select mt-2 col-3 rounded-0 "}})}}
										{{ form_widget(form.time.minute, {'value':event.eventdate|date('i'),'attr': {"class" : "custom-select mt-2 col-3 rounded-0 "}})}}
									</div>
								</div>

							</div>

							<div class="form-row mt-2">
								<div class="form-group col md-form">

									<label class="font-weight-light mx-1" for="place">Lugar</label>
									{{ form_widget(form.place, {'value':event.place,'attr': {"class" : "form-control rounded-0"}})}}

								</div>
								<div class="form-group col md-form">

									<label class="font-weight-light mx-1" for="direction">Direccion</label>
									{{ form_widget(form.direction, {'value':event.direction,'attr': {"class" : "form-control rounded-0"}})}}
								</div>
							</div>


							<div class="text-center md-form my-5">
								<button type="submit" class="boton-linea-ext2">
									<span class="linea1_2"></span>
									<span class="linea2_2"></span>
									<span class="linea3_2"></span>
									<span class="linea4_2"></span>
									<p>Editar</p>
								</button>
							</div>
							{{ form_end(form) }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
