{# Extiende la plantilla base #}
{% extends 'base.html.twig' %}

{% block title %}Editar Blog{% endblock %}

{% block body %}

{# Cabecera del form para editar negocio #}
<section class="container mt-4 mb-5">
	<div class="mask rgba-fondo d-flex align-items-center">
		<div class="container">
			<div class="row mt-3 justify-content-center align-items-center ">

				<div class="col-12 col-md-8 ">
					<div class="card rgba-card animated">
						<div class="card-body mx-3">
							{{ form_start(form) }}
							<div class="text-center ">
								<h3><i class="fas fa-briefcase"></i></i>&nbsp Editar blog</h3>
								{% if message is defined %}
								<p class="mt-4">
									{% if message_icon is defined %}
									{{message_icon | raw}}
									{% endif %}
									{{message}}
								</p>
								{% endif %}
							</div>
							<!-- Body del Form -->

							<div class="md-form form-row my-5">
								<div class="col mx-1">
									{{ form_label(form.title, 'Titulo', {'label_attr': {"class" : "font-weight-light mx-1"}})}}
									{{ form_widget(form.title,{'value': blog.title,'attr': {"class" : "form-control"}})}}
								</div>

								<div class="col mx-1">
									{{ form_label(form.meta_title, 'Meta Titulo', {'label_attr': {"class" : "font-weight-light mx-1"}})}}
									{{ form_widget(form.meta_title,{'value': blog.metatitle,'attr': {"class" : "form-control"}})}}
								</div>

							</div>

							<div class="md-form form-row mt-3">
								<div class="col mx-1">
									<label for="Meta_description" class="font-weight-light mx-1">Meta Descripción</label>
									{{ form_widget(form.meta_description, {'value': blog.metadescription,'attr': {"class" : "md-textarea form-control"}})}}
								</div>
							</div>


							<div class="form-row mt-4">
							<div class="col-2 col-md-1">
								{{ form_label(form.active, '¿Activo?', {'label_attr': {"class" : "rounded-0  font-weight-light py-2"}})}}
								{{ form_widget(form.active, {'checked':blog.active,'attr': {"class" : "form-control rounded-0"}})}}
							</div>
								<div class="col-10 col-md-5 mt-5">
									{{ form_widget(form.category, {'attr': {"class" : "rounded-0  custom-select"}})}}
								</div>


								<div class="col-12 col-md-6 mt-5" id="fotoReview">
									<label for="image" class="custom-file-label mx-1 mt-0 rounded-0  subir-foto">Imagen</label>
									{{ form_widget(form.image,{'required':false,'attr': {"class" : "custom-file-input", "accept" : "image/jpeg"}})}}
									<div class="row">
										<div class="col">
											<img src="{{asset('assets/img/blog/feature/') ~ blog.image}}" class="img-thumbnail" id="fotoPreview">
										</div>
									</div>
								</div>



							</div>

							<div class="text-center md-form my-5">
								<button type="submit" class="boton-linea-ext2">
									<span class="linea1_2"></span>
									<span class="linea2_2"></span>
									<span class="linea3_2"></span>
									<span class="linea4_2"></span>
									<p>Editar</p>
								</button>
							</div>
							{{ form_end(form) }}
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{#  Tabla #}

<section class="container">
	<div class="row">

		<h1 class="h5">Administrar Contenido</h1>
		<div class="container">
			<a href="{{path('create-content-block', {'id' : blog.id})}}" type="button" class="btn btn-sm orange rounded-pill waves-effect waves-light"
			data-target=""><i class="fas fa-plus-square"></i>&nbsp;add</a>
		</div>
		<table class="table col-12 table-hover table-responsive-sm ">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Contenido</th>
					<th class="th-lg" scope="col">Acciones</th>
				</tr>
			</thead>

			<tbody>
				{% for content_block in contentBlocks %}
				<tr>
					{% if content_block.active == 0 %}
						<th scope="row">
							<img src="{{asset('assets/img/icons/geo-alt-red.svg')}}">
						</th>
					{% else %}
						<th scope="row">
							<img src="{{asset('assets/img/icons/geo-alt-green.svg')}}">
						</th>
					{% endif %}

				<td>{{content_block.content}}</td>

				<td class="row">
					<a class="btn btn-orange btn-sm col mx-1" href="{{path('admin-edit-contentblock',{ 'id' : content_block.id })}}"><i class="fa fa-edit"></i></a>
					{% if content_block.active == 0 %}
						<a class="btn btn-success btn-sm col mx-1" href="{{path('active-content-block', {'id' : content_block.id})}}"><i class="fas fa-check"></i></a>
					{% else %}
						<a class="btn btn-danger btn-sm col mx-1" href="{{path('active-content-block', {'id' : content_block.id})}}"><i class="fas fa-times"></i></a>
					{% endif %}
				</td>
			</tr>
		{% endfor %}
		</tbody>
		</table>
	</div>
</section>
{% endblock %}
