{# Extiende la plantilla base #}
{% extends 'base.html.twig' %}

{% block title %}Editar Negocio{% endblock %}

{% block body %}

{# Cabecera del form para editar negocio #}
<section class="container mt-4 mb-5">
	<div class="mask rgba-fondo d-flex align-items-center">
		<div class="container">
			<div class="row mt-3 justify-content-center align-items-center ">

				<div class="col-12 col-md-8 ">
					<div class="card rgba-card animated">
						<div class="card-body mx-3">
							{{ form_start(form) }}
							<div class="text-center ">
								<h3><i class="fas fa-briefcase"></i></i>&nbsp Editar negocio</h3>
								{% if message is defined %}
								<p class="mt-4">
									{% if message_icon is defined %}
									{{message_icon | raw}}
									{% endif %}
									{{message}}
								</p>
								{% endif %}
							</div>
							<!-- Body del Form -->

							<div class="md-form mt-5">
								<label for="name" id="name" class="font-weight-light">Nombre</label>
								{{ form_widget(form.name,{'value': business.name, 'attr': {"class" : "form-control"}})}}
							</div>
							<div class="form-row mt-4">
							<div class="col-4 ">
								{{ form_label(form.active, 'Categoría', {'label_attr': {"class" : "rounded-0  font-weight-light py-2"}})}}
								{{ form_widget(form.category, {'attr': {"class" : "rounded-0  custom-select"}})}}
							</div>
								<div class="col-6 mt-5" id="fotoReview">


									<label for="image" class="custom-file-label mx-1 mt-0 rounded-0  subir-foto foto" >Imagen</label>
									{{ form_widget(form.image,{'required':false,'attr': {"class" : "custom-file-input", "accept" : "image/jpeg"}})}}


							  	<div class="row">
										<div class="col">
											<img src="{{asset('assets/img/business/') ~ business.image}}" class="img img-thumbnail mt-2" id="fotoPreview">
										</div>
									</div>


								</div>


								<div class="col-2">
									{{ form_label(form.active, '¿Activo?', {'label_attr': {"class" : "rounded-0  font-weight-light py-2"}})}}
									{{ form_widget(form.active, {'checked': business.active, 'attr': {"class" : "form-control"}})}}
								</div>
							</div>

							<div class="md-form mt-5">
								<label for="description" class="font-weight-light mx-1">Descripción</label>
								{{ form_widget(form.description, {'value': business.description,'attr': {"class" : "md-textarea form-control", 'minlength' : 65}})}}
							</div>

							<div class="form-row md-form mt-5">
								<div class="col-9 mt-4">
									<label class="font-weight-light mx-1" for="direction">Dirección</label>
									{{ form_widget(form.direction, {'value': business.direction,'attr': {"class" : "form-control"}})}}
								</div>

								<div class="form-row md-form mt-5">
									<div class="col">
										{{ form_label(form.web, 'Web', {'label_attr': {"class" : "font-weight-light mx-1"}})}}
										{{ form_widget(form.web, {'value': business.web,'attr': {"class" : "form-control"}})}}
									</div>
									<div class="col">
										{{ form_label(form.phone, 'Teléfono', {'label_attr': {"class" : "font-weight-light mx-1"}})}}
										{{ form_widget(form.phone, {'value': business.phone,'attr': {"class" : "form-control"}})}}
									</div>
									<div class="col">
										{{ form_label(form.instagram, 'Instagram', {'label_attr': {"class" : "font-weight-light mx-1"}})}}
										{{ form_widget(form.instagram, {'value': business.instagram,'attr': {"class" : "form-control"}})}}
									</div>
								</div>

							</div>

							<div class="text-center md-form my-5">
								<button type="submit" class="boton-linea-ext2">
									<span class="linea1_2"></span>
									<span class="linea2_2"></span>
									<span class="linea3_2"></span>
									<span class="linea4_2"></span>
									<p>Editar</p>
								</button>
							</div>
							{{ form_end(form) }}
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
