{# Extiende la plantilla base #}
{% extends 'base.html.twig' %}

{% block title %}Crear Usuario{% endblock %}

{% block body %}

{# Cabezera del form para editar usuario #}
<section class="container mt-4 mb-5">
	<div class="mask rgba-fondo d-flex align-items-center">
		<div class="container">
			<div class="mt-3 row justify-content-center align-items-center">

				<div class="col-12 col-md-8">
					<div class="card rgba-card animated">
						<div class="card-body mx-3">
							{{ form_start(form) }}
							<div class="text-center">
								<h3><i class="fas fa-user"></i>&nbsp Editar usuario</h3>
								{% if message is defined %}
								<p class="mt-4">
									{% if message_icon is defined %}
									{{message_icon | raw}}
									{% endif %}
									{{message}}
								</p>
								{% endif %}
							</div>
							<!-- Body del Form -->

							<div class="md-form form-row my-5">
								<div class="col mx-1">
									{{ form_label(form.alias, 'Nick', {'label_attr': {"class" : "font-weight-light mx-1"}})}}
									{{ form_widget(form.alias,{'value':user.alias, 'attr': {"class" : "form-control"}})}}
								</div>

								<div class="col mx-1">
									{{ form_label(form.email, 'Email', {'label_attr': {"class" : "font-weight-light mx-1"}})}}
									{{ form_widget(form.email,{'value':user.email,'attr': {"class" : "form-control"}})}}
								</div>

							</div>

							<div class="form-row my-4">
								<div class="col-10">
									{{ form_label(form.rol, 'Rol', {'label_attr': {"class" : "font-weight-light mx-1"}})}}
									{{ form_widget(form.rol, {'attr': {"class" : "form-control rounded-0"}})}}
								</div>
								<div class="col-2">
									{{ form_label(form.active, '¿Activo?', {'label_attr': {"class" : "font-weight-light mx-1"}})}}
									{{ form_widget(form.active, {'checked':user.active,'attr': {"class" : "form-control rounded-0"}})}}
								</div>
							</div>

							<div class="form-row mt-3">
								<div class="col-10 mt-5">
									{{ form_label(form.birthDate, 'Fecha de nacimiento', {'label_attr': {"class" : "font-weight-light mx-1"}})}}
									<div class="col-12 pl-0 pr-2 d-flex justify-content-between ">
										{{ form_widget(form.birthDate.day, {'value':user.birthDate|date('j'),'attr': {"class" : "rounded-0 form-control col-4"}})}}
										{{ form_widget(form.birthDate.month, {'value':user.birthDate|date('n'),'attr': {"class" : "rounded-0 form-control ml-1 col-4"}})}}
										{{ form_widget(form.birthDate.year, {'value':user.birthDate|date('Y'),'attr': {"class" : "rounded-0 form-control ml-1 col-4"}})}}
									</div>
								</div>
							</div>
							<div class="form-row mt-3">
								<div class="col-10 mt-5" id="fotoReview">

									{{ form_label(form.image, 'Imagen', {'label_attr': {"class" : " rounded-0 subir-foto custom-file-label font-weight-light mx-1 "}})}}
									{{ form_widget(form.image, {'value':user.image,'attr': {"class" : "custom-file-input ", "accept" : "image/jpeg"}})}}
									<div class="mt-2 text-center">

										<img src="#" alt="Preview" style="max-height:250px;" class="img-thumbnail d-none rounded " id="fotoPreview">

									</div>
								</div>
							</div>
							<div class="md-form form-row mt-3">
								<div class="col mt-5">
									{{ form_label(form.name, 'Nombre', {'label_attr': {"class" : "font-weight-light mx-1"}})}}
									{{ form_widget(form.name, {'value':user.name,'attr': {"class" : "form-control"}})}}
								</div>

								<div class="col mt-5">
									{{ form_label(form.surnames, 'Apellidos', {'label_attr': {"class" : "font-weight-light mx-1"}})}}
									{{ form_widget(form.surnames, {'value':user.surnames,'attr': {"class" : "form-control"}})}}
								</div>
							</div>

							<div class="md-form form-row mt-3">
								<div class="col mt-5">
									{{ form_label(form.direccion, 'Dirección', {'label_attr': {"class" : "font-weight-light mx-1"}})}}
									{{ form_widget(form.direccion, {'value':user.direccion,'attr': {"class" : "form-control"}})}}
								</div>

								<div class="col mt-5">
									{{ form_label(form.phone, 'Teléfono', {'label_attr': {"class" : "font-weight-light mx-1"}})}}
									{{ form_widget(form.phone, {'value':user.phone,'attr': {"class" : "form-control", "pattern" : "[+]?[0-9]{0,19}","maxlength" : "20"}})}}
								</div>
							</div>

							<div class="md-form form-row mt-3">
								<div class="col-md-6 col-xs-12 mt-5">
									{{ form_label(form.password, 'Contraseña', {'label_attr': {"class" : "font-weight-light mx-1"}})}}
									{{ form_widget(form.password, {'required':false,'attr': {"class" : "form-control", "pattern" : "^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)[a-zA-Z&.\\d]{8,}"}})}}
									<small class="text-danger" id="invalidpass"></small>

								</div>

								<div class="col-md-6 col-xs-12 mt-5">
									{{ form_label(form.confirmPass, 'Vuelve a introducir la contraseña', {'label_attr': {"class" : "font-weight-light mx-1"}})}}
									{{ form_widget(form.confirmPass, {'required':false,'attr': {"class" : "form-control", "pattern" : "^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)[a-zA-Z&.\\d]{8,}"}})}}
									<small class="text-danger" id="isdifferent"></small>

								</div>

								
							<script>
								comparaClavesEdit($('#form_password'), $('#form_confirmPass'));
							</script>

							</div>

							<div class="text-center md-form my-5">
								<button type="submit" class="boton-linea-ext2">
									<span class="linea1_2"></span>
									<span class="linea2_2"></span>
									<span class="linea3_2"></span>
									<span class="linea4_2"></span>
									<p>Editar</p>
								</button>
							</div>
							{{ form_end(form) }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
