{# Extiende la plantilla base #}
{% extends 'base.html.twig' %}

{% block title %}Administrar eventos{% endblock %}

{% block body %}

<section class="container">

	<div class="row">

		<h1 class="h5">Administrar Eventos</h1>
		<div class="container">
			<a href="{{path('create-event')}}">
				<button type="button" class="btn btn-sm orange rounded-pill waves-effect waves-light">
					<i class="fas fa-plus-square"></i>&nbsp;add</button>
			</a>
		</div>
		{# Creamos una tabla donde mostramos los eventos y los podemos editar #}
		<table class="table col-12 table-hover table-responsive-sm ">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Nombre</th>
					<th scope="col">Lugar</th>
					<th scope="col">Dirección</th>
					<th scope="col">Fecha</th>
					<th scope="col">Categoría</th>
					<th class="th-lg" scope="col">Acciones</th>
				</tr>
			</thead>
			<tbody>
				{# Por cada evento en la bbdd creamos una entrada en la tabla y asignamos un icono dependioendo de su estado #}
				{% for event in events %}
				<tr>
					{% if event.active == 0 %}
					<th scope="row">
						<img src="{{asset('assets/img/icons/geo-alt-red.svg')}}">
					</th>
					{% else %}
					<th scope="row">
						<img src="{{asset('assets/img/icons/geo-alt-green.svg')}}">
					</th>
					{% endif %}

					<td>{{event.name}}</td>
					<td>{{event.place}}</td>
					<td>{{event.direction}}</td>
					<td>{{event.eventDate|date('j/n/Y')}}</td>
					<td>{{event.category.title}}</td>
					<td class="row">
						<a class="btn btn-orange btn-sm col mx-1" href="{{path('admin-edit-event',{'id' : event.id})}}"><i class="fa fa-edit"></i></a>
						{% if event.active == 0 %}
						<a class="btn btn-success btn-sm col mx-1" href="{{path('active-event',{'id' : event.id})}}"><i class="fas fa-check"></i></a>
						{% else %}
						<a class="btn btn-danger btn-sm col mx-1" href="{{path('active-event',{'id' : event.id})}}"><i class="fas fa-times"></i></a>
						{% endif %}

					</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{# Incluimos la paginación para poder usar varias páginas si hay muchos negocios #}
{% include '_includes/blocks/paginacion.html.twig' with {'currentPage' : currentPage, 'totalPages' : totalPages, 'route' : 'admin-events'} %}

</section>

{% endblock %}
