{# Entiende la plantilla base  #}
{% extends 'base.html.twig' %}

{% block title %}Administrar Usuarios{% endblock %}

{% block body %}

<section class="container">

	<div class="row">

		<h1 class="h5">Administrar Usuarios</h1>
		<div class="container">
			<a href="{{path('create-user')}}">
				<button type="button" class="btn btn-sm orange rounded-pill waves-effect waves-light">
					<i class="fas fa-plus-square"></i>&nbsp;add</button>
			</a>
		</div>
		{# Creamos una tabla para mostrar los usuarios de una forma ordenada #}
		<table class="table col-12 table-hover table-responsive-sm ">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Nombre</th>
					<th scope="col">Alias</th>
					<th scope="col">Rol</th>
					<th scope="col">Email</th>
					<th class="th-lg" scope="col">Acciones</th>
				</tr>
			</thead>
			<tbody>
				{# Mostramos los usuarios que hay en la bbdd y le asignamos un incono dependiendo de si estan activos o inactivos #}
				{% for user in users %}
				<tr>
					{% if user.active == 0 %}
					<th scope="row">
						<i class="fas fa-user-lock text-danger"></i>
					</th>
					{% else %} {# También controlamos si el usuario tiene el rol de administrador #}
					{% if user.rol.name == "ROLE_ADMIN" %}
					<th scope="row">
						<i class="fas fa-user-shield text-success"></i>
					</th>

					{% else %}
					<th scope="row">
						<i class="fas fa-user"></i>
					</th>
					{% endif %}
					{% endif %}

					<td>{{user.name}} {{user.surnames}}</td>
					<td>{{user.alias}}</td>
					<td>{{user.rol.name}}</td>
					<td>{{user.email}}</td>
					<td class="row">
						<a class="btn btn-orange btn-sm col mx-1" href="{{path('admin-edit-user',{'id' : user.id})}}"><i class="fas fa-user-edit"></i></a>
						{% if user.active == 0 %}
						<a class="btn btn-success btn-sm col mx-1" href="{{path('active-user',{'id' : user.id})}}"><i class="fas fa-check"></i></a>
						{% else %}
						<a class="btn btn-danger btn-sm col mx-1" href="{{path('active-user',{'id' : user.id})}}"><i class="fas fa-times"></i></a>
						{% endif %}

					</a>
				</td>
			</tr>
			{% endfor %}

		</tbody>
	</table>
</div>

{# Incluimos la paginación para poder usar varias páginas si hay muchos negocios #}
{% include '_includes/blocks/paginacion.html.twig' with {'currentPage' : currentPage, 'totalPages' : totalPages, 'route' : 'admin-users'} %}

</section>

{% endblock %}
