        @font-face {
            font-family: "Font Awesome 5 Free";
            src: url('../fonts/fa-regular-400.ttf');
        }

*{
	box-sizing: border-box;
	margin: 0;
}

p, span{
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5{
	font-family: 'Playfair Display', serif !important;
}


header{
	position: fixed;
	width: 100%;
	margin: 0;
	background-image: url(../img/plaza-españa-sevilla.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 26vh;
	z-index: 999;


}

main{
	padding-top: 34vh;
	min-height: 80vh;
}

/*    --------------------------------------------------
	:: MENUS
	-------------------------------------------------- */
/* MENU NAVEGACION ADMIN */

#admin-menu{

position:sticky;
top:0;
z-index:999999;
background-color: #4e4e4e;
height: 45px;

}

#admin-menu a.avatar{
  overflow:hidden;
  width:36px;
  height:36px;
  background-size:cover;
  background-position:center;
}


/* MENU NAVEGACION */

nav{
	display: flex;
	width: 100%;
	margin: 0;
	height: 70px;
	-webkit-transition: margin-left .5s;
	background-color: transparent;
	-webkit-transition: background-color .5s;

}

.menu-box ul{
	width: 300px;
	display: flex;
	justify-content: space-around;
}

.menu-box{
	margin: 10px auto 0 auto;
}

 nav ul a:hover {
	color: #4f341d;
	text-decoration: none;


}

.menu-button{
	display: none;
}

/* Menu pequeño */

.menu_bar{
	display: none;

}

.reduce-menu{
	height: auto;
	transition-duration: .5s;
}

nav ul{
	display: block;
	float: left;
	list-style: none;
	padding: 0;
	margin: 0;
}

nav ul li{
	float: left;
	margin: 10px;
	padding: 2px;
}

nav ul a{
	color: White;  /*blanco o negro?*/
	text-decoration: none;
}

img#logo{
	width: 150px;
	float:left;
	display: block;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 10vh;
	-webkit-transition: width .5s, height .5s, margin-right .5s, margin-top .5s;
}

#main-menu{
	height: 100%;
	background-color: rgba(242, 139, 12, .7);
}

/*    --------------------------------------------------
	:: Login
	-------------------------------------------------- */
#login {
    padding-top: 50px
}
#login .form-wrap {
    width: 100%;
    margin: 0 auto;
}
#login h2 {
    color: #83623c;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
#login .form-group {
    margin-bottom: 25px;
}
#login .checkbox {
    margin-bottom: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#login .checkbox.show:before {
    content: "\f06e";
    color: #f28b0c;
    font-size: 17px;
    margin: 1px 0 0 3px;
    position: absolute;
    pointer-events: none;
    font-family: "Font Awesome 5 Free";
}


#login .checkbox .character-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
}
#login .checkbox .label {
    color: #6d6d6d;
    font-size: 13px;
    font-weight: normal;
}
#login .btn.btn-custom {
    font-size: 14px;
	margin-bottom: 20px;
}
#login .forget {
    font-size: 13px;
    font-weight: bold;
	text-align: center;
	display: block;
}

/*    --------------------------------------------------
	:: Inputs & Buttons
	-------------------------------------------------- */
.form-control {
    color: #212121;
}
.btn-custom {
    color: #fff;
	background-color: #f28b0c;
}
.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
}

/* Buttons Guay :) */

.boton-linea-ext2{
	text-align: center;

}
.boton-linea-ext2 a, .boton-linea-ext2 p {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #333;
}

.boton-linea-ext2 {
    padding: 4px 28px;
    border: none;
    background: transparent;
    color: #333;
    width: 30%;
    /* float: left; */
    position: relative;
    line-height: 45px;
    cursor: pointer;
    margin: 0 auto;
	display: block;
	margin-bottom: 8px;
	min-width: 160px;
}

.boton-linea-ext2 .linea1_1,
.boton-linea-ext2 .linea2_2,
.boton-white-ext2 .linea1_1,
.boton-white-ext2 .linea2_2 {
  top: 0;
  right: 0;
}

.boton-linea-ext2 .linea3_2,
.boton-linea-ext2 .linea4_2,
.boton-white-ext2 .linea3_2,
.boton-white-ext2 .linea4_2 {
  bottom: 0;
  left: 0;
}

.boton-linea-ext2 .linea1_2,
.boton-linea-ext2 .linea3_2,
.boton-white-ext2 .linea1_2,
.boton-white-ext2 .linea3_2 {
  height: 3px;
  width: 18px;
}

.boton-linea-ext2 .linea2_2,
.boton-linea-ext2 .linea4_2,
.boton-white-ext2 .linea2_2,
.boton-white-ext2 .linea4_2{
  height: 18px;
  width: 3px;
}

.boton-linea-ext2 span {
  position: absolute;
  background-color: #333;
  display: block;
  transition: all 300ms;
}

.boton-linea-ext2:hover,
.boton-linea-ext2:active {
  backgroundo-color: transparent;
  color: #333;
}

/* Hover 2 */

.boton-linea-ext2:hover a,
.boton-white-ext2:hover a {
background: rgba(230,187,117,1);
background: -moz-linear-gradient(left, rgba(230,187,117,1) 0%, rgba(227,98,98,1) 56%, rgba(189,42,187,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(230,187,117,1)), color-stop(56%, rgba(227,98,98,1)), color-stop(100%, rgba(189,42,187,1)));
background: -webkit-linear-gradient(left, rgba(230,187,117,1) 0%, rgba(227,98,98,1) 56%, rgba(189,42,187,1) 100%);
background: -o-linear-gradient(left, rgba(230,187,117,1) 0%, rgba(227,98,98,1) 56%, rgba(189,42,187,1) 100%);
background: -ms-linear-gradient(left, rgba(230,187,117,1) 0%, rgba(227,98,98,1) 56%, rgba(189,42,187,1) 100%);
background: linear-gradient(to right, rgba(230,187,117,1) 0%, rgba(227,98,98,1) 56%, rgba(189,42,187,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6bb75', endColorstr='#bd2abb', GradientType=1 );
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.boton-linea-ext2 .linea1_2,
.boton-linea-ext2 .linea2_2,
.boton-white-ext2 .linea1_2,
.boton-white-ext2 .linea2_2 {
  top: 0;
  right: 0;
}

.boton-linea-ext2:hover .linea1_2,
.boton-linea-ext2:hover .linea3_2,
.boton-linea-ext2:active .linea1_2,
.boton-linea-ext2:active .linea3_2,
.boton-white-ext2:hover .linea1_2,
.boton-white-ext2:hover .linea3_2,
.boton-white-ext2:active .linea1_2,
.boton-white-ext2:active .linea3_2{
  width: 100%;
  background: rgba(230,187,117,1);
background: -moz-linear-gradient(left, rgba(230,187,117,1) 0%, rgba(227,98,98,1) 56%, rgba(189,42,187,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(230,187,117,1)), color-stop(56%, rgba(227,98,98,1)), color-stop(100%, rgba(189,42,187,1)));
background: -webkit-linear-gradient(left, rgba(230,187,117,1) 0%, rgba(227,98,98,1) 56%, rgba(189,42,187,1) 100%);
background: -o-linear-gradient(left, rgba(230,187,117,1) 0%, rgba(227,98,98,1) 56%, rgba(189,42,187,1) 100%);
background: -ms-linear-gradient(left, rgba(230,187,117,1) 0%, rgba(227,98,98,1) 56%, rgba(189,42,187,1) 100%);
background: linear-gradient(to right, rgba(230,187,117,1) 0%, rgba(227,98,98,1) 56%, rgba(189,42,187,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6bb75', endColorstr='#bd2abb', GradientType=1 );
}

.boton-linea-ext2:hover .linea2_2,
.boton-linea-ext2:active .linea2_2,
.boton-white-ext2:hover .linea2_2,
.boton-white-ext2:active .linea2_2 {
  height:100%;
  background: #bd2abb;
}

.boton-linea-ext2:hover .linea4_2,
.boton-linea-ext2:active .linea4_2,
.boton-white-ext2:hover .linea4_2,
.boton-white-ext2:active .linea4_2{
  height:100%;
  background: #e6bb75;
}
@media screen and (max-width:800px ) {

#admin-menu .navbar-collapse{
	background-color: #4e4e4e;
}
	.boton-linea-ext2{
		width: 60%;
	}

	main{
		padding-top: 30px;
	}

	header{
		position: initial;
		background: inherit;
		background-color: #f28b0c;
		height: initial;
	}

	#main-menu {
		display: none;
		background-image: url('../img/bg.jpg');
		background-position: center center;
		width: 100%;
		height: 100vh;

	}

	#main-menu .menu-box{
		padding-top: 30px;
		width: 100%;
		background-color: rgba(242, 139, 12, .7);
		margin: 0;
	}

	header #logo{
		display: none;
	}

	.menu_bar {
		display: flex;
		background:#F28B0C;
		padding-top: 10px;
	}
	.menu_bar .title, .menu_bar .menu-button{
		color: #fff;
		font-weight: 700;
		font-size: 22px;
	}

	.menu-button{

		display: block;
		margin: 0 auto;
		cursor: pointer;
		padding-top: 5px;
		color: #fff;
		text-align: center;
	}

	#main-menu ul, #main-menu li{
		float: none;
		text-align: center;
	}

	.menu-fixed{
		position: fixed;
	}


	#mobile-menu-button{
		display: flex;
		flex-wrap: wrap;
		padding-top: 4px;
	}

	#mobile-menu-button p{
		align-self: flex-start;
		width: 80%;
		margin: 0;
		padding-left: 10px;

	}

	#mobile-menu-button svg{
		font-size: 35px;
		align-self: flex-end;
		width: 20%;
		margin: 0;
		margin-bottom: 8px;
	}

	.menu-box ul{
		display: block;
		width: auto;
	}
}



.block{
	padding: 10px;
	margin: 20px auto;
}

.block p{
	padding: 10px;
}


/* imagenes de los bloques */
.block-1 img, .block-2 img{
	border-radius: 5px;
	box-shadow: 2px 2px 10px #3e3e3e;
}

.block-4, .block-5, .block-6{
	padding: 0;
}

.block-4 .bg-box, .block-5 .bg-box, .block-6 .bg-box, .block-post .bg-box{
	min-height: 350px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.block-4 .content-box, .block-5 .content-box, .block-6 .content-box, .block-post .content-box{
	display: flex;
	background-color: rgba(242, 139, 12, .8);
	min-height: 350px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.block-post .content-box{
	background-color: rgba(0, 0, 0, .6);
	color: white;
}


.block-8 .content-box{
	display: flex;
	min-height: 200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.block-4 .content-box h2, .block-5 .content-box h2{
	font-size: 45px;
	color: #fff;
	text-align: center;
}

.block-6 .content-box p{
	color: #fff;
	text-align: center;
}

.img-border{
	padding: 0;
}




/* INICIO EFECTO MODAL EN IMAGENES */


.myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.myImg:hover {
  opacity: 0.7;
}


/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 9999;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}


/* Modal Content (image) */

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}


/* Caption of Modal Image */

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}


/* Add Animation */

.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0)
  }
  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}


/* The Close Button */

.close {
  position: absolute;
  top: 60px;
  right: 30px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}


/*FIN EFECTO MODAL EN IMAGENES*/



/* REVIEWS */
.stars{
	font-size: 23px;
}

.checked{
	color: orange;
}

.time-review{
	font-size: 14px;
	margin-bottom: 8px;
}



/* BLOQUES BUSINESS */

.show-info {
	background-color: rgba(224, 224, 224, 0.2);
}

.show-info:hover {
	background-color: rgba(224, 224, 224, 0.8);
}



/* INICIO FOOTER*/
.footer{
  padding: 70px 0;
  background-color: #18181a;
  overflow: hidden;
}

.footer_third{
	color: white;
}

.footer_third span{
	font-size: 14px;
	color: white;
	font-weight: 100;
	margin-bottom: 5px;
}

.footer_third a, .footer_third li{
  font-size: 14px;
  color: white;
  display: block;
  font-weight: 200;
}

.inner_footer .logo_container img{
  width: 150px;
	margin-bottom: 10px;
}

.icons li, .icons li a svg{
	font-size: 30px;
	margin-right: 4px;
}

/* FIN FOOTER */




/* REGISTRATE */

#formulario h3{
	color: #4d321b;

}
.text-registro {
	color: #4d321b;
}
.avatar-container{
  width: 100px;
	height: 100px;
	background-position: center;
	background-size: cover;
	border: 1px solid #fd7e14;
	box-shadow: 0px 0px 3px  #1e1e1e;
}


.avatar-container img{

	height: 100%;

}
.card-body{

	height: 100%;

}

.card-title{
	color: #4d321b;
}

/* TARJETA NEGOCIOS EN CATAGORIAS */

.business-category-business-card .img-box{
	height: 195px;
	overflow: hidden;
	background-color: #1e1e1e;
}
.business-category-business-card h3{
	font-size: 22px;
}


.business-category-business-card img{
	width: 100%;
}


.business-review-card{
	height: 290px;
	font-size: 13px;
}
.business-review-card .img-box{
	height: 155px;
	overflow: hidden;
}

@media (max-width: 576px) {
	.business-review-card{
		height: 390px;
		font-size: 13px;
	}
}

.category-business-card h3{
	display: block;
	width: 100%;
	text-align: center;
	background-color: rgba(0, 0, 0, .4);
	padding: 10px 0;
}

.category-business-card .mask{
	height: 200px;
}

.category-business-card .img-box{
	overflow: hidden;
	height: 195px;
}


.subir-foto:after{
	content: "Elegir";
}

.crop-img-review{ /*RECORTE DE IMAGEN*/
  object-fit: cover;
  width: 60vw;
  height: 180px;
}
.crop-img-review-profile{ /*RECORTE DE IMAGEN DE PERFIL*/
  object-fit: cover;
  width: 40vw;
  height: 58px;
}

#size-moreinfo{
	font-size: 16px;
}



/*Imagenes de los eventos*/

.event-img{
	height: 200px;
	max-width: 300px;
	overflow: hidden;
	background-size: cover;
	background-position: center;
}

.event-img img{
	height: 100%;
}

.crop-img-app{ /*RECORTE DE IMAGEN*/
  object-fit: cover;
  width: 120vw;
  height: 180px;
}


/*Botones de redes sociales*/

.btn-twitter{
	background-color: #00ACEE;
}

.btn-facebook{
	background-color: #3B5998;
}

.btn-whatsapp{
	background-color: #00BB2D;
}

.btn-clipboard, .btn-orange{
	background-color: #F7722B;
}

.btn-whatsapp svg, .btn-facebook svg, .btn-twitter svg, .btn-clipboard svg{
	font-size: 25px;
}


/*Scroll*/

@media (max-width: 576px){

	.scroll-box{
	    overflow-x: auto;
	    overflow-y: hidden;
	    display: block;
	    height: auto;
	    white-space: nowrap;
	}

	.business-category-business-card, .scroll-horizontal{
		display: inline-block;
		white-space: normal;
	}


}


/*Ventana modal o Popup*/
.bg-modal{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
	z-index: 999;
	position: fixed;
	/*problema en el alto de la pagina no la recorre entera*/
}

.popup-content{
	width: 100%;
	height: 170px;
	z-index: 9999;
	position: fixed;
	bottom: 0px;
}

.logo-modal{
	height: 95px;
	padding-top: 5px;
	padding-left: 18px;
}

/*#popupmobile{ ver como fufa esto
	display: none;
}*/


/*    --------------------------------------------------
	:: MOVIL
	-------------------------------------------------- */
  .title-App{
    color: white;

  }
  .header-app{
    width: 100%;
    margin:auto;
    background-image: url(../img/plaza-españa-sevilla.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 26vh;
    z-index: 999;

  }
  .contenedor-logo {

  height: 100%;
	margin:auto;
	text-align:center;
  background-color: rgba(242, 139, 12, .7);

}

.contenedor-logo img{
  width: 100px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.logo-app{
  width: 40px;
  height: 40px;
}

/*App categoria*/

.category-business-card-app h4{
	display: block;
	width: 100%;
	text-align: center;
	background-color: rgba(0, 0, 0, .4);
	padding: 1px;
}
.category-business-card-app .mask{
	height: 110px;
}

.category-business-card-app .img-box{
	overflow: hidden;
	height: 100px;
}


/*Menu App*/
.save_button {
text-align: justify;
font-size: 14px;
padding: 8px;
}

.margen-App{
  padding-bottom: 70px;
}

.menu-App{
  height: 100%;
}
