{% extends 'base.html.twig' %}

{% block title %}{{category.title}}{% endblock %}

{% block body %}

<section class="container mb-5">
	<h1 class="my-3"> {{category.title}}</h1>

	{% if posts|length < 1   %}
		<div id="empty" class="alert alert-danger text-center">
			<h2><i class="far fa-frown"></i> No hay resultados</h2>
		</div>
	{% endif %}

	<div class="col-md-12">
		{% for post in posts %}
		{% if post.active == 1 %}
		<div class="card my-2">
			<!-- Card content -->
			<div class="row card-body">
				<div style="max-height:250px; overflow:hidden;" class="col-md-6 col-xs-12">
					<img src="{{asset('assets/img/blog/feature/')}}{{post.image}}" class="img-fluid myImg" alt="{{post.metaDescription|slice(0,60)}}...">
				</div>
				<div class="col-md-6 col-xs-12">
					<!-- Title -->
					<h4 class="card-title">{{post.title}}</h4>
					<hr>
					<!-- Text -->
					<p class="card-text">{{post.metaDescription}}</p>
					<!-- Link -->
					<a href="{{path('post', {slug : post.slug})}}" class="black-text d-flex justify-content-end">
						<h5>Leer completo &nbsp; <i class="fas fa-angle-double-right"></i></h5>
					</a>
				</div>
			</div>
		</div>
		{% endif %}
		{% endfor %}
	</div>

	{% if posts|length > 0   %}
	{# Paginación #}
	<nav aria-label="Paginacion de la tabla">
	<ul class="pagination pg-amber">

	{# Creamos una lista donde mostraremos nuestros botones #}
	  <li class="page-item">

	{# Controlamos si la pagina actual es masyor que la uno, si es asi mostramos un boton para ir hacia atrás #}
	    {% if currentPage > 1 %}
	    <a href="{{path('category-detail' , {'slug': category.slug, 'page' : currentPage - 1} )}}" class="page-link" aria-label="Previo">
	      <span aria-hidden="true">&laquo;</span>
	    </a>
	    {% endif %}
	  </li>

	{# Mostramos botones para poder navegar por las diversas páginas de contenido #}
	  {% for i in 1..totalPages %}
	    {% if i ==  currentPage %}
	  <li class="page-item active"><a href="{{path('category-detail' , {'slug': category.slug, 'page' : i} )}}" class="page-link">{{i}}</a></li>
	    {% else %}
	  <li class="page-item"><a href="{{path('category-detail' , {'slug': category.slug, 'page' : i} )}}" class="page-link">{{i}}</a></li>
	    {% endif %}
	  {% endfor %}

	{# Mostramos un botón para ir a la página siguiente si no estamos ya en la última #}
	  <li class="page-item">
	    {% if totalPages > currentPage %}
	      <a href="{{path('category-detail' , {'slug': category.slug, 'page' : currentPage + 1} )}}" class="page-link" aria-label="Siguiente">
	        <span aria-hidden="true">&raquo</span>
	        <span class="sr-only">Siguiente</span>
	      </a>
	    {% endif %}
	  </li>

	</ul>
	</nav>
{% endif %}

</section>



{% endblock %}
