{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
<section class="container">
	<div class="row my-4">
		{% set counter = 0 %}
		{% for category in categories %}
			{% set counter = counter + 1 %}
			{% if counter > 2 %}
				<div class="col-md-4 col-xs-12 mt-5 mb-3">
			{% else %}
				<div class="col-md-6 col-xs-12 mt-5 mb-3">
			{% endif %}
				<!--Zoom effect-->
					<div class="view">
						<img src="{{asset('assets/img/blog/category/')}}{{category.image}}" class="img-thumbnail img-fluid" alt="guias" />
						<a href="{{path('category-detail', {'slug' : category.slug})}}">
							<div class="mask flex-center rgba-brown-light">
								<h3 class="white-text">{{category.title}}</h3>
							</div>
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</section>

	<section class="container mb-5">
		<h1 class="my-3"> Ultimas publicaciones</h1>
		<div class="col-md-12">
			{% for post in posts %}
			{% if post.active == 1 %}
			<div class="card my-2">
				<!-- Card content -->
				<div class="row card-body">
					<div style="max-height:250px; overflow:hidden;" class="col-md-6 col-xs-12">
						<img src="{{asset('assets/img/blog/feature/')}}{{post.image}}" class="img-fluid myImg" alt="{{post.metaDescription|slice(0,60)}}...">
					</div>
					<div class="col-md-6 col-xs-12">
						<!-- Title -->
						<h4 class="card-title">{{post.title}}</h4>
						<hr>
						<!-- Text -->
						<p class="card-text">{{post.metaDescription}}</p>
						<!-- Link -->
						<a href="{{path('post', {slug : post.slug})}}" class="black-text d-flex justify-content-end">
							<h5>Leer completo &nbsp; <i class="fas fa-angle-double-right"></i></h5>
						</a>
					</div>
				</div>
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</section>
{% endblock %}

