{% extends 'base.html.twig' %}

{% block title %}{{post.title}}{% endblock %}
{% block meta_title %}{{post.metaTitle}}{% endblock %}
{% block meta_description %}{{post.metaDescription}}{% endblock %}

{% block body %}
	<section class="container block-post block">
		<div class="bg-box" style="background-image: url({{asset('assets/img/blog/feature/'~post.image)}})">
			<div class="col-12 text-center content-box">
				<h2>{{post.title}}</h2>
			</div>
		</div>
	</section>

	{% for content_block in contentBlocks %}
		{% if content_block.active == 1 %}
	    {% include '_includes/blocks/block' ~ content_block.blockType.id ~ '.html.twig' with {'content' : content_block.content , 'image' : 'blog/content_blocks/' ~ post.id ~ '/' ~ content_block.image} %}
	    {% endif %}
	{% endfor %}	
<div class="pb-5"></div>
{% endblock %}
