<!-- Modal de información -->

<div class="modal fade" id="infoModal" data-targeturl="{{targeturl}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
            {% if icon is defined %}
				{% if icon == 'success' %}
				<i class="fas fa-check text-success"></i>
				{% elseif icon == 'danger' %}
				<i class="fas fa-times text-danger"></i>
				{% elseif icon == 'info' %}
				<i class="fas fa-exclamation-circle text-info"></i>
                {% else %}
				|??|
            	{% endif %}
            {% else %}
            |??|
            {% endif %}

            {% if modalTitle is defined %}
                {{modalTitle}}
            {% else %}
                titulo de modal sin definir
            {% endif %}
        </h5>
		    <button type="button" class="close" aria-label="Close">
		      	<span aria-hidden="true">&times;</span>
		    </button>
      	</div>
      	<div class="modal-body">
            {% if modalMessage is defined %}
                {{modalMessage}}
            {% else %}
                cuerpo del modal sin definir
            {% endif %}
      	</div>
      	<div class="modal-footer" style="height: 70px">
            <button type="button" class="btn btn-primary" data-dismiss="modal" >OK</button>
      	</div>
    </div>
  </div>

</div>
