{% extends 'base.html.twig' %}

{% block title %}Contacto{% endblock %}

{% block body %}
<div class="container">
	{% if msg is defined %}
	<p>{{msg}}</p>
	{% endif %}

	<!--Section: Contact -->
	<section class=" container mb-4" id="contacto">

	{#  #}
	<!--Section heading-->
	<h2 class="h1-responsive font-weight-bold text-center my-4">Contacta</h2>
	<!--Section description-->
	<p class="text-center w-responsive mx-auto mb-5">¿Tienes alguna pregunta? Por favor no dude en contactar con el equipo </p>

	<div class="row mx-4">

		<!--Grid column-->
		<div class="col-md-9 mb-md-0 mb-5">
			<form id="contact-form" name="contact-form" action="" method="POST">

				<!--Grid row-->
				<div class="row">

					<!--Grid column-->
					<div class="col-md-6">
						<div class="md-form mb-0">
							<input type="text" id="name" name="name" class="form-control">
							<label for="name" class="">Nombre</label>
						</div>
					</div>
					<!--Grid column-->

					<!--Grid column-->
					<div class="col-md-6">
						<div class="md-form mb-0">
							<input type="email" id="email" name="email" class="form-control">
							<label for="email" class="">Email</label>
						</div>
					</div>
					<!--Grid column-->

				</div>
				<!--Grid row-->

				<!--Grid row-->
				<div class="row">

					<!--Grid column-->
					<div class="col-md-12">

						<div class="md-form">
							<textarea type="text" id="message" name="message" rows="4" class="form-control md-textarea"></textarea>
							<label for="message">Mensaje</label>
						</div>
					</div>
				</div>
				<!--Grid row-->
				<div class="text-center text-md-left my-3">
					<input type="submit" value="Enviar" class="btn amber darken-3 text-white btn-md rounded mb-0">
				</div>
			</form>


		</div>
		<!--Grid column-->

		<!--Grid column-->
		<div class="col-md-3 text-center">
			<ul class="list-unstyled mb-0">
				<li><i class="fas fa-map-marker-alt orange-text fa-2x"></i>
					<p>Avenida XXXXXXX</p>
				</li>

				<li><i class="fas fa-phone orange-text mt-4 fa-2x"></i>
					<p>000000000</p>
				</li>

				<li><i class="fas fa-envelope orange-text mt-4 fa-2x"></i>
					<p>uncolorespecialfct@gmail.com</p>
				</li>
			</ul>
		</div>
		<!--Grid column-->

	</div>

</section>
<!--Section: Contact -->

</div>

{% endblock %}
