<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %} - Un Color Especial</title>
  <meta name="description" content="{% block meta_description %}{% endblock %}">
  <meta name="title" content="{% block meta_title %}{% endblock %}">
  {% include '_includes/head.html.twig' %}

  {% block stylesheets %}{% endblock %}
</head>
<body>
  {% block header %}
    {% include '_includes/header.html.twig' %}
  {% endblock %}
  <main>
    {% block body %}{% endblock %}
  </main>
  {% block footer %}
  {% include '_includes/footer.html.twig' %}
  {% endblock %}
  {% include '_includes/modal.html.twig' %}

<!---------------------------------------------------------------------->
<!-- NO TOCAR // DONT TOUCH // ESTO ES PARA QUE FUNCIONEN LOS MODALES -->
<!---------------------------------------------------------------------->

{% set modalMessage = app.request.get('modalMessage') %}
{% set modalTitle = app.request.get('modalTitle') %}
{% set icon = app.request.get('icon') %}
{% set targeturl = app.request.get('targeturl') %}

{% if modalMessage != '' %}
{% if modalTitle != '' %}
{% if icon  != '' %}
{% if targeturl  != '' %}

    {% include '_includes/modals/info.html.twig' with {
    'modalMessage' : modalMessage ,
    'modalTitle' : modalTitle ,
    'icon' : icon ,
    'targeturl' : targeturl } %}

{% endif %}{% endif %}{% endif %}{% endif %}
<!---------------------------------------------------------------------->
<!-- NO TOCAR // DONT TOUCH // ESTO ES PARA QUE FUNCIONEN LOS MODALES -->
<!---------------------------------------------------------------------->




  <!-- JQuery Validate -->
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>
  <!-- Bootstrap tooltips -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <!-- Bootstrap core JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js"></script>

    <script src='{{asset('assets/js/')}}modals.js'></script>
  <script src='{{asset('assets/js/')}}script.js'></script>


  {% block javascripts %}{% endblock %}

</body>
</html>
