{% extends 'base.html.twig' %}

{% block title %}{{category.name}}{% endblock %}

{% block body %}

{# Incluimos el bloque 8 como contenido el nombre del negocio y su imagen #}
{% include '_includes/blocks/block8.html.twig' with {'content' : category.name, 'image': 'business_category/'~category.image} %}

<section class="container"> <!--Filtro por valoración-->

	<div id="myBtnContainer" class=" conteiner text-center mb-3">
		<button class="btn btn-sm active btn-outline-warning btn-rounded waves-effect filterSelectionTodos"> Mostrar todos</button>
		<button class="btn btn-sm btn-outline-warning waves-effect filterSelection1"> 1 Estrella</button>
		<button class="btn btn-sm btn-outline-warning btn-rounded waves-effect filterSelection2"> 2 Estrellas</button>
		<button class="btn btn-sm btn-outline-warning btn-rounded waves-effect filterSelection3"> 3 Estrellas</button>
		<button class="btn btn-sm btn-outline-warning btn-rounded waves-effect filterSelection4"> 4 Estrellas</button>
		<button class="btn btn-sm btn-outline-warning btn-rounded waves-effect filterSelection5"> 5 Estrellas</button>
	</div>
	<hr>

	{# La siguiente sección es el filtro para ordenar de menor a mayor valoración #}
	<section class="container" onload="elementsHidden()">


		<div class=" container text-center mb-3">
			<button class="btn btn-sm btn-outline-warning btn-rounded waves-effect menor"> Menor a mayor</button>
			<button class="btn btn-sm btn-outline-warning btn-rounded waves-effect mayor"> Mayor a menor</button>
		</div>
		<hr>



</section>

{# Mostramos todos los negocios activos en la bbdd #}
<section class="container">

{% if businesses|length < 1 %}
<div id="empty" class="alert alert-danger text-center">
	<h2><i class="far fa-frown"></i> No hay resultados</h2>
</div>
{% endif %}

<div id="empty" class="d-none alert alert-danger text-center">
	<h2><i class="far fa-frown"></i> No hay resultados</h2>
</div>
<div class="row scroll-box">
	{% for business in businesses %}
	{% if business.active == 1 %}
	{% include '_includes/blocks/business1.html.twig' with {'business' : business} %}
	{% endif %}
	{% endfor %}
</div>

</section>

<section class="container">

	<div class="row p-3 mb-5 mt-3">
		<div class="card align-items-center col-12 p-3">
			<div class="row">


				<div class="col-md-8 col-12 pl-5">
					<h3 class="mb-4 text-center">¿Quieres que tu negocio aparezca?</h3>
					<p class="text-justify">Puedes escribirnos a través de nuestro formulario de contacto para ofrecernos la posibilidad de incluir tu negocio en nuestra web. ¡Recuerda recomendarnos también en todas las redes sociales para que tu negocio también se beneficie de que mucha gente conozca nuestra web! Te agradecemos tu tiempo a escribirnos, ¡y esperamos que su estancia en sevilla sea maravillosa!</p>
				</div>
				<div class="col-md-4 col-12 pt-5">
					<a href="{{path('contact-form')}}" type="submit" class="boton-linea-ext2">
						<span class="linea1_2"></span>
						<span class="linea2_2"></span>
						<span class="linea3_2"></span>
						<span class="linea4_2"></span>
						<p>Escríbenos</p>
					</a>

				</div>
			</div>
		</div>
	</div>

</section>

<section class="container"> <!--Filtro puntuación -->



{% endblock %}
