{% extends 'base.html.twig' %}

{% block title %}Mi perfil{% endblock %}

{% block body %}

  <section class="Edit-perfil">
    <div class="container mt-0 mt-md-5">
      <div class="row perfil mt-0 mt-md-5 d-flex">
        <div class="col-md-8 col-xl-8 my-4 align-self-end">
          <div class="card card-body animated fadeInLeft">
            <div>
              <!-- <form action="" id="formulario" name="formulario" autocomplete="on"> -->
              {# Comenzamos el form para editar el perfil #}
              {{form_start(form)}}
              <div class="text-center mb-5" id="formulario">
                <h3>
                  Editar Perfil</h3>
                  <p class="text-muted">{{app.user.email}}</p>

              </div>
              {# En caso de haya error lo mostramos mediante este If #}
              {% if error is defined%}

                <div class="alert alert-danger  alert-dismissible fade show" role="alert">
                  <p>{{error}}
                    <i class="far fa-frown"></i>
                  </p>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {% endif %}

              {% if success is defined%}

                <div class="alert alert-success  alert-dismissible fade show" role="alert">
                  <p>{{success}}
                    <i class="far fa-smile"></i>
                  </p>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {% endif %}
              <!-- Body del Form -->
              <div class="form-group md-form">
                {{ form_label(form.alias, 'Alias', {'label_attr': {"class" : "font-weight-light"}})}}
                {{ form_widget(form.alias, {'value':app.user.alias, 'attr': {"class" : "form-control"}})}}

              </div>
              <div class="form-row">
                <div class="form-group col md-form">
                  {{ form_label(form.name, 'Nombre', {'label_attr': {"class" : "font-weight-light mx-1"}}
                  )}}
                  {{ form_widget(form.name, {'value':app.user.name, 'attr': {"class" : "form-control"}})}}

                </div>
                <div class="form-group col md-form">
                  {{ form_label(form.surnames, 'Apellidos', {'label_attr': {"class" : "font-weight-light mx-1"}})}}
                  {{ form_widget(form.surnames, {'value':app.user.surnames, 'attr': {"class" : "form-control"}})}}

                </div>
              </div>
              <div class="form-group md-form">
                {{ form_label(form.direccion, 'Dirección', {'label_attr': {"class" : "font-weight-light"}})}}
                {{ form_widget(form.direccion, {'value':app.user.direccion, 'attr': {"class" : "form-control"}})}}

              </div>
              <div class="form-group md-form">
                {{ form_label(form.phone, 'Teléfono', {'label_attr': {"class" : "font-weight-light"}}
                )}}
                {{ form_widget(form.phone, {'value':app.user.phone, 'attr': {"class" : "form-control","pattern" : "[+]?[0-9]{0,19}","maxlength" : "20"}})}}

              </div>
              {{ form_label(form.birthDate, 'Fecha de nacimiento' , {'label_attr': {"class" : "font-weight-light"}})}}
              <div class="form-group md-form mx-4">

                <div class="row justify-content-between">
                  {{ form_widget(form.birthDate.day, {'value':app.user.birthDate|date('j'), 'attr': {"class" : "browser-default custom-select col-2"}})}}
                  {{ form_widget(form.birthDate.month, {'value':app.user.birthDate|date('n'), 'attr': {"class" : "browser-default custom-select col-3"}})}}
                  {{ form_widget(form.birthDate.year, {'value':app.user.birthDate|date('Y'), 'attr': {"class" : "browser-default custom-select col-5"}})}}
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col md-form">
                  {{ form_label(form.oldPassword, 'Contraseña antigua', {'label_attr': {"class" : "font-weight-light mx-1"}})}}
                  {{ form_widget(form.oldPassword, {'attr': {"class" : "form-control"}})}}

                </div>
                <div class="form-group col md-form">
                  {{ form_label(form.newPassword, 'Contraseña nueva', {'label_attr': {"class" : "font-weight-light mx-1"}})}}
                  {{ form_widget(form.newPassword, {'attr': {"class" : "form-control", "pattern" : "^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)[a-zA-Z&.\\d]{8,}"}})}}
                  <small class="text-danger" id="invalidpass"></small>
                </div>
              </div>
              <div class="form-check col-12">
                <input type="checkbox" class="form-check-input" id="terminos" name="terminos" required="required">
                <label for="terminos" class="form-check-label">Acepta los
                  <a href="#" class="font-weight-light">Términos y Condiciones</a>
                </label>
              </div>
              <div></div>
              <div class="text-center md-form mt-4">
                <button type="submit" class="boton-linea-ext2" id="reg_buttom">
                  <span class="linea1_2"></span>
                  <span class="linea2_2"></span>
                  <span class="linea3_2"></span>
                  <span class="linea4_2"></span>
                  <p>Actualiza tus datos</p>
                </button>
              </div>
              {{form_end(form)}}
              <!-- </form> -->
            </div>
          </div>
        </div>
        <div class="col-md-4 my-4  animated fadeInRight">
          <!-- Card Perfil y cambiar foto -->
          <div class="card mb-5">
            <div style="background-image: url({{asset('assets/img/user/')}}{{app.user.image}});" class="text-center mb-3 mt-3 avatar-container rounded-circle rounded mx-auto "></div>
            <div class="text-center">
              <button type="submit" class="boton-linea-ext2">
                <span class="linea1_2"></span>
                <span class="linea2_2"></span>
                <span class="linea3_2"></span>
                <span class="linea4_2"></span>
                <a href="{{path('update-user-image')}}">Cambiar Foto</a>
              </button>
            </div>
          </div>
          
          {% if review %}
          <div>
            <h4 class="card-title">
              <a>Última review</a>
            </h4>
            <!-- Card Mi ultima review -->
            <div class="card mt-3">

              <!-- Card image -->
              {% if review.image %}
              <img class="card-img-top" src="{{asset('assets/img/reviews/')}}{{review.image}}" alt="review">
              {% endif %}
              <!-- Card content -->
              <div class="card-body">

                <!-- Estrellas -->
            <div class="pb-2">
              {# Mostramos las estrellas que tiene la review #}
              {% set estrellas = 5 %}

              {% for i in 1..review.score %}
                <i class="fas fa-star stars checked"></i>
                {% set estrellas = estrellas - 1 %}
              {% endfor %}
              {% if estrellas > 0 %}
                {% for i in 1..estrellas %}
                  <i class="fas fa-star stars"></i>
                {% endfor %}
              {% endif %}

            </div>
                <!-- Text -->
                <p class="card-text">{{review.content| slice(0, 60)}}...
                </p>
                <!-- Button -->
                <div class="text-center">
                  <a href="{{path('business-detail', {'slug' : review.business.slug})}}" class="boton-linea-ext2">
                    <span class="linea1_2"></span>
                    <span class="linea2_2"></span>
                    <span class="linea3_2"></span>
                    <span class="linea4_2"></span>
                    <p>Ver completa</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>

  <!-- Proximos eventos... -->
  <section class="prox-events wow fadeInUp">
    <div class="container mt-3 ">
      <h4 class="card-title">
        <a>Próximos eventos</a>
      </h4>
      <div class="row perfil my-5 ">
        
        {% for event in events %}
            
        <div class="col-md-4 col-xs-12 mb-3">
          <div class="card">
            <!-- Card content -->
            <div class="card-body">
              <!-- Title -->
              <h4 class="card-title">{{event.name}}</h4>
              <hr>
              <!-- Text -->
              <p class="card-text">{{event.description|slice(0, 60)}}...</p>
              <!-- Link -->
              <a href="{{path('event-detail', {'slug' : event.slug})}}" class="black-text d-flex justify-content-end">
                <h5>Más información &nbsp<i class="fas fa-angle-double-right"></i>
                </h5>
              </a>

            </div>
          </div>
        </div>

        {% endfor %}

      </div>
    </div>
  </section>

  <script>
    clavesIgualesEdit($("#form_password"), $("#form_confirmPass"));
  </script>

{% endblock %}
