{% extends 'base.html.twig' %}

{% block title %}Inicio de sesión{% endblock %}

{% block body %}

<section id="login">
	<div class="container ">
		<div class="row align-items-center my-4">

			<div class="col-md-4 col-xl-5 mb-5">
				<div class="card rgba-card animated" data-wow-delay="0.3s">
					<div class="card-body">

						{# Comienzo del form #}
						<form action="{{path('login')}}" method="POST" id="formulario" name="formulario" autocomplete="on">
							<div class="text-center">
								<h3>Inicia sesión</h3>
								<a href="{{path('register-user')}}">o Regístrate</a> {# enlace auxiliar, posible cambio #}

								{# Si hay un error mostramos un mensaje indicandolo #}
								{% if error %}

								<div class="alert alert-danger  alert-dismissible fade show" role="alert">
									<p>Ha habido un error <i class="far fa-frown"></i> </p>
									{% if error.message == "Bad credentials." %}
									<p>Los datos introducidos <strong>no son correctos</strong> o la cuenta a la que intenta acceder está inactiva.</p>
									{% endif %}

									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								{% endif %}
							</div>
							<!-- Body del Form -->

							<div class="form-group md-form ">
								<label for="_username" class="font-weight-light">Correo Electrónico</label>
								<input type="email" class="form-control text-lowercase minus" name="_username">
							</div>
							<div class="form-group md-form">
								<label for="_password" class="font-weight-light mx-1">Password</label>
								<input type="password" class="form-control" id="password" name="_password">
							</div>
							<div class="checkbox">
								<span class="character-checkbox" onclick="showPassword()"></span>
								<span class="label">Mostrar contraseña</span>
							</div>
							<button type="submit" class="boton-linea-ext2">
								<span class="linea1_2"></span>
								<span class="linea2_2"></span>
								<span class="linea3_2"></span>
								<span class="linea4_2"></span>
								<p>Iniciar Sesión</p>
							</button>
						</form>
						{# Damos la opción de recordar la contraseña si se ha olvidado #}
						<a href="javascript:;" class="forget" data-toggle="modal" data-target=".forget-modal">Olvidó su contraseña?</a>

					</div>
				</div>
			</div>
			
			<div class="col-md-6 col-xl-7 mt-md-0  text-center text-md-left animated fadeInRight" data-wow-delay="10s">
				<h1 class="font-weight-bold text-registro">Un color especial</h1>
				<hr></hr>
				<p class="mb-3">Si te resgistras...Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea dolor molestiae, quisquam iste.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea dolor molestiae, quisquam iste.</p>
				<div class="boton-linea-ext2">
					<span class="linea1_2"></span>
					<span class="linea2_2"></span>
					<span class="linea3_2"></span>
					<span class="linea4_2"></span>
					<a href="{{path('info')}}">Leer más</a>
				</div>
			</div>


		</div> <!-- /.container -->
	</section>
{% endblock %}
