{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}

{# Si hay un error lo mostramos por pantalla #}
{% if error is defined %}
<p>{{error}}</p>
{% endif %}

<!-- Formulario -->

<div class="">
	<div class="mask rgba-fondo d-flex justify-content-center align-items-center">
		<div class="container">
			<div class="row my-4 align-items-center">

				<div class="col-md-6 col-xl-7 mt-md-0 text-center text-md-left animated fadeInLeft" data-wow-delay="10s">
					<h1 class=" font-weight-bold text-registro">Un color especial</h1>
					<hr></hr>
					<p class="mb-3">Si te registras...Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea dolor molestiae, quisquam iste.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea dolor molestiae, quisquam iste.</p>
					<div class="boton-linea-ext2">
						<span class="linea1_2"></span>
						<span class="linea2_2"></span>
						<span class="linea3_2"></span>
						<span class="linea4_2"></span>
						<a href="#">Leer más</a>
					</div>
				</div>

				<div class="col-md-6 col-xl-5 mb-5">

					<div class="card rgba-card  " data-wow-delay="0.3s">
						<div class="card-body">
							{{ form_start(form)}}
							<div class="text-center" id="formulario">
								<h3>Regístrate</h3>
								<a href="{{path('login')}}">o Inicia Sesión</a> {# enlace auxiliar, posible cambio #}

							</div>

							<!-- Body del Form -->
							<div class="form-row">
								<div class="form-group col md-form">
									{{ form_label(form.name, 'Nombre:', {'label_attr': {"class" : "font-weight-light mx-1"}})}}
									{{ form_widget(form.name,{'attr': {"class" : "form-control"}})}}
								</div>
								<div class="form-group col md-form">
									{{ form_label(form.surnames, 'Apellidos:', {'label_attr': {"class" : "font-weight-light mx-1"}})}}
									{{ form_widget(form.surnames,{'attr': {"class" : "form-control"}})}}
								</div>
							</div>
							<div class="form-group md-form">
								{{ form_label(form.alias, 'Alias:', {'label_attr': {"class" : "font-weight-light"}})}}
								{{ form_widget(form.alias,{'attr': {"class" : "form-control"}})}}
							</div>
							<div class="form-group md-form">
								{{ form_label(form.email, 'Correo Electrónico:', {'label_attr': {"class" : "font-weight-light"}})}}
								{{ form_widget(form.email,{'attr': {"class" : "form-control text-lowercase"}})}}
								{# Controlamos si el email existe #}
								{% if email_exist is defined %}
								<small class="text-danger">{{email_exist}}</small>
								{% endif %}

							</div>
							<div class="form-row">
								<div class="form-group col md-form">
									{{ form_label(form.password, 'Contraseña:', {'label_attr': {"class" : "font-weight-light mx-1"}})}}
									{{ form_widget(form.password,{'attr': {"class" : "form-control", "pattern" : "^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)[a-zA-Z&.\\d]{8,}", "title" : "La contraseña debe contener: 8 o más carácteres, mínimo una letra mayúscula, mínimo un número"}})}}
									<small class="text-danger" id="invalidpass"></small>
								</div>

								<div class="form-group col md-form">
									{{ form_label(form.confirmPass, 'Confirmar Contraseña:', {'label_attr': {"class" : "font-weight-light mx-1"}})}}
									{{ form_widget(form.confirmPass,{'attr': {"class" : "form-control"}})}}
									<small class="text-danger" id="isdifferent"></small>
								</div>
							</div>
							
							<div class="form-check col-12">
								<input type="checkbox" class="form-check-input" id="terminos" name="terminos" required>
								<label for="terminos" class="form-check-label">Acepta los <a href="#" class="font-weight-light">Términos y Condiciones</a></label>
							</div>
							<div></div>
							<div class="text-center md-form mt-4">
								<button type="submit" class="boton-linea-ext2 disabled" id="reg_buttom">
									<span class="linea1_2"></span>
									<span class="linea2_2"></span>
									<span class="linea3_2"></span>
									<span class="linea4_2"></span>
									<p>Registrar</p>
								</button>
							</div>
							{{ form_end(form)}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{# Este script controla que se confirma la contraseña correctamente #}
<script>
clavesIguales($("#form_password"), $("#form_confirmPass"));
</script>

{% endblock %}
