{% extends 'base.html.twig' %}

{% block title %}Actualizar Foto de perfil{% endblock %}

{% block body %}

{# Damos la posibilidad de subir una foto de perfil #}
<section class="container p-3">
	<h2 class="text-center">Actualiza tu foto de perfil</h2>
	<div class="row align-item-center justify-content-center">

	{# Comienzo del form #}
	{{ form_start(form)}}

	{# En este div se pide que se muestre una foto y se ve reflejada en la página #}
	<div class="custom-file col-12 mt-3">

		{{ form_widget(form.image, {'attr': {"class" : "custom-file-input", "accept" : "image/jpeg"}})}}

		{{ form_label(form.image, 'Sube una foto', {'label_attr': {"class" : "custom-file-label rounded-0 subir-foto", 'lang' : 'es'}} )}}
	</div>


	<button type="submit" class="boton-linea-ext2 mt-4">
		<span class="linea1_2"></span>
		<span class="linea2_2"></span>
		<span class="linea3_2"></span>
		<span class="linea4_2"></span>
		<p>Guardar</p>
	</button>

	{{ form_end(form)}}
</div>


</section>

{% endblock %}
